header {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0D1C22), to(#11242d));
    color: #fff;
    height: 56px;
    padding: 21px 59px;
    margin: 0;
}

header h1 {
    background-image: url(../images/mb-logo.png);
    background-position: top left;
    background-repeat: no-repeat;
    text-indent: -9999em;
    height: 53px;
    width: 142px;
    float: left;

header h2 {
    float: left;
    height: 53px;
    line-height: 53px;
    margin-left: 13px;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
}

#archive {
    border: none;
    padding: 0 49px;
    width: 100%;
}

.message {
    background: #fff;
    padding: 0px;
    margin: 10px;
    margin-left: 10px;
    overflow: hidden;
    min-height: 50px;
}

.message h1 {
    background-repeat:no-repeat;
    background-position: 7px 50%; 
    padding:5px 10px 5px 30px;
    margin:0px;
    display:block;
    position: absolute;
    bottom:0px;
    white-space: nowrap; 
    vertical-align: middle;
    color: #E6E6E6;
    background-color: rgba(10,10,10,0.8);
    background-size: 16px 16px;
    text-indent: 0;
}

.votes {
}

img.thumbs {
    width:30px;
}

img.thumbs:hover {
    background-color:green;
}

.source {
}

.time {
    
}

.page_nav {
    display:none;
}

.controls {
    position: absolute;
    top:0px;
    right:0px;
    display:none;
}

.message:hover .controls {
    display:block;
}

.brick-1 {
    /* These shouldn't be displayed anyway...*/
    display:none;
    width:0px;
    height:0px;
}

.brick-2 {
    font-size:0.8em;
    width: 200px;
    height: 100px
}

.brick-3 {
    font-size:1.0em;
    width: 300px;
    height: 150px;
}

.brick-4 {
    font-size:1.2em;
    width: 500px;
    height: 300px;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.image h1 {
}

.image img {
}


.text {
    background-color: #000;
    color: #E6E6E6;
}

.text img {
    float: left;
    padding: 0px 5px 5px 0px;
}

.text p {
    padding: 5px;
}

.text h1 {
    
}


.brick-1 p {
}

.brick-2 p{
    font-size:1.0em;
}

.brick-3 p{
    font-size:2.0em;
}

.brick-4 p{
    font-size:3.0em;
}

.grey, .color0 {
    background-color: #646265;
}

.purple, .color1 {
    background-color: #6E4EC8;
}

.blue, .color2 {
    background-color: #1B8CD7;
}

.green, .color3 {
    background-color: #7FD219;
}

.yellow, .color4 {
    background-color: #EACB00;
}

.orange, .color5 {
    background-color: #F49000;
}

.red, .color6 {
    background-color: #EF0019;
}