header {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0D1C22), to(#11242d));
    color: #fff;
    height: 56px;
    padding: 21px 59px;
    margin: 0;
}

header h1 {
    background-image: url(../images/mb-logo.png);
    background-position: top left;
    background-repeat: no-repeat;
    text-indent: -9999em;
    height: 53px;
    width: 142px;
    float: left;
}

header h2 {
    float: left;
    height: 53px;
    line-height: 53px;
    margin-left: 13px;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
}

header a.options {
    display: block;
    float: right;
    position: absolute;
    top: 15px;
    right: 50px;
    background-image: url(../images/gear.png);
    background-position: top right;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    text-indent: -999em;
}

#archive {
    border: none;
    padding: 0 49px;
    width: 100%;
}

.message {
    background: #fff;
    padding: 0px;
    margin: 10px;
    margin-left: 10px;
    overflow: hidden;
    min-height: 50px;
}

.message h1 {
    background-color: rgba(10,10,10,0.8);
    background-size: 16px 16px;
    background-repeat:no-repeat;
    background-position: 7px 50%; 
    padding:5px 10px 5px 30px;
    margin:0px;
    display:block;
    position: absolute;
    top:0px;
    vertical-align: middle;
    color: #E6E6E6;
    text-indent: 0;
    font-size: .6em;
    font-weight: normal;
    width: auto;
}

.votes {
}

img.thumbs {
    width:30px;
}

img.thumbs:hover {
    background-color:green;
}

.source {
}

.time {
}

.page_nav {
    display:none;
}

.controls {
    position:absolute;
    bottom:0px;
    right:0px;
    display:none;
    width:100%;
}

.message:hover {
    box-shadow: 5px 5px 1px #CCC;
}

.message:hover .controls {
    display:block;
    z-index: 10;
}

.controls button {
    -webkit-appearance: none;
    background: none;
    background-color: rgba(0,0,0,.7);
    border: none;
    outline: none;
    width: 49.5%;
    margin: 0;
    color: #fff;
    height: 32px;
    padding: 0 6px 2px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    text-shadow: 0 1px 1px rgba(235,235,235,.55);
}

.controls button:first-child {
    border-top-right-radius: 4px;
    left: 0;
    text-align: left;
}
.controls button:last-child {
    border-top-left-radius: 4px;
    right: 0;
    text-align: right;
}

.controls button:hover {
    background-color: rgba(0,0,0,.85);
    text-shadow: 0 -1px 1px rgba(235,235,235,.75);
    box-shadow: 0 1px 2px rgba(160,160,160,.75);
}

.brick-1 {
    /* These shouldn't be displayed anyway...*/
    display:none;
    width:0px;
    height:0px;
}

.brick-2 {
    font-size:0.8em;
    width: 100px;
    height: 100px
}

.brick-3 {
    font-size:1.0em;
    width: 200px;
    height: 200px;
}

.brick-4 {
    font-size:1.2em;
    width: 300px;
    height: 300px;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.image h1 {
}

.image img {
}


.text {
    background-color: #000;
    color: #E6E6E6;
}

.text img {
    float: left;
    padding: 0px 5px 5px 0px;
}

.text p {
    padding: 10px;
    z-index: 1;
}

.text p.darkened {
    background-color: #222;
}

.text h1 {
    
}

.brick-1 p {

}

.brick-2 p{
    font-size:1.0em;
    position: absolute;
    bottom: 0;
}

.brick-3 p{
    font-size:1.2em;
    position: absolute;
    bottom: 0;
}

.brick-4 p{
    font-size:1.5em;
    position: absolute;
    bottom: 0;
}

.grey, .color0 {
    background-color: #646265;
}

.purple, .color1 {
    background-color: #6E4EC8;
}

.blue, .color2 {
    background-color: #1B8CD7;
}

.green, .color3 {
    background-color: #7FD219;
}

.yellow, .color4 {
    background-color: #EACB00;
}

.orange, .color5 {
    background-color: #F49000;
}

.red, .color6 {
    background-color: #EF0019;
}