#done {
    text-align:center;
}

#done form {
    font-size: 1.2em;
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 780px;

}

#done form input {
    line-height: 25px;
    padding: 5px;
    width: 300px;
    font-size: 1.1em;
}

#done form input.submit {
    width: 100%;
}

#done form td small{
    font-size: 0.6em;
}

#done form td {
    padding:10px ;
    width: 300px;
    text-align: right;
}

#done form td{
}