body.splash {
    background: url(../images/page-bg.gif) top left repeat-x;
}

#info {
    background-color: #11232c;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
    color: #eee;
    font-weight: normal;
    min-height: 400px;
    padding: 0;
    position: absolute;
    left: 40px;
    text-shadow: 0 1px 3px #333;
    top: 80px;
    width: 700px;
    z-index: 10;
}

#info h1 {
    border-bottom: 1px solid #091419;
    padding: 20px 20px 10px;
}

#info p {
    line-height: 20px;
    margin: 20px;

}

#buildings, #clouds, #signal {
    position: fixed;
}

#buildings {
    bottom: 0;
    right: 0;
    z-index: 1;
}

#clouds {
    top: 0;
    right: 0;  
    z-index: 2; 
}

#signal {
    top: 150px;
    right: 400px;
    z-index: 3;
}



/*options page stuff*/

#options {
    margin: 20px;
    text-align: left;
}

#relevance {
    width: 300px;
}

.scale {
    width: 300px;
}

.scale div {
    float:left;
    width: 150px;
}

small {
    font-size: 0.7em;
}

.mini {
    text-align:left;
}

.maxi {
    text-align: right;
}
