html {
    background: url(../images/page-bg.gif) top left repeat-x;
}

body {
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #eee;
}

.message {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    /*width: 300px;*/
    max-height: 150px;
    min-height: 150px;
    height: 150px;
}

.message h1 {
    background-color: rgba(10,10,10,0.8);
    background-size: 16px 16px;
    background-repeat:no-repeat;
    background-position: 7px 50%; 
    padding:5px 10px 5px 30px;
    margin:0px;
    display:block;
    position: absolute;
    top: 0px;
    color: #fff;
    font-size: .6em;
    font-weight: normal;
    width: 100%;
}

.page_nav {
    display:none;
}

.controls {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.message:hover .controls {
    display:block;
    z-index: 10;
}

.controls button {
    -webkit-appearance: none;
    background: none;
    background-color: rgba(53,141,194,.85);
    border: none;
    outline: none;
    width: 49.5%;
    margin: 0;
    color: #fff;
    height: 32px;
    padding: 0 6px 2px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.85);
}

.controls button:first-child {
    border-top-right-radius: 4px;
    left: 0;
    text-align: left;
}

.controls button:last-child {
    border-top-left-radius: 4px;
    right: 0;
    text-align: right;
}

.controls button:hover {
    background-color: rgba(53,141,194,1);
    text-shadow: 0 -1px 1px rgba(0,0,0,.85);
    box-shadow: 0 1px 2px rgba(160,160,160,.75);
}

.isotope, .isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: .5s;
  -webkit-animation-timing-function: ease-out;
}

.isotope {
  -webkit-transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
}

.text {
    background-color: #000;
    color: #E6E6E6;
}

.text img {
    float: left;
    padding: 0px 5px 5px 0px;
}

.text p {
    padding: 5px 10px;
    z-index: 1;
    text-overflow: ellipsis;
    font-size: 1.2em;
    position: absolute;
    top: 20px;
    background-color: rgba(0,0,0,0.7);
}

/*.grey, .color0 {
    background-color: #646265;
}

.purple, .color1 {
    background-color: #6E4EC8;
}

.blue, .color2 {
    background-color: #1B8CD7;
}

.green, .color3 {
    background-color: #7FD219;
}

.yellow, .color4 {
    background-color: #EACB00;
}

.orange, .color5 {
    background-color: #F49000;
}

.red, .color6 {
    background-color: #EF0019;
}*/