body.splash {
    background: url(../images/page-bg.gif) top left repeat-x;
}

#info {
    padding: 20px;
    width: 400px;
    color: #222;
    background-color: rgb(185,185,185);
    -webkit-border-radius: 5px 5px 5px 5px;
    text-align:center;
    text-shadow: 0 1px 0 #ddd;
    position: absolute;
    top: 235px;
    right: 675px;
    box-shadow: 0 0 10px rgba(255,255,255,.4);
    border: 1px solid #fff;
    min-height: 400px;
    z-index: 4;
}

#info p {
    line-height: 20px;
    margin: 10px 0px 10px 0px;
}

#buildings, #clouds, #signal {
    position: fixed;
}

#buildings {
    bottom: 0;
    right: 0;
    z-index: 1;
}

#clouds {
    top: 0;
    right: 0;  
    z-index: 2; 
}

#signal {
    top: 150px;
    right: 400px;
    z-index: 3;
}
