body.splash {
    background: url(../images/page-bg.gif) top left repeat-x;
}

header {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0D1C22), to(#11242d));
    color: #ddd;
    padding: 10px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

header h1 {
    background-image: url(../icons/icon16.png);
    background-position: top left;
    background-repeat: no-repeat;
    text-indent: -9999em;
    height: 16px;
    width: 16px;
    float: left;
    display: block;
}

header h2 {
    float: left;
    margin-left: 10px;
    font-weight: normal;
    font-size: 14px;
}

header a.options, header a.help {
    display: block;
    float: left;
    background-image: url(../images/gear-help.png);
    background-position: top left;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    text-indent: -999em;
}

header a.help {
    background-position: -20px 0;
    margin-left: 5px;
}

#info {
    padding: 20px;
    width: 400px;
    color: #222;
    background-color: rgb(185,185,185);
    -webkit-border-radius: 5px 5px 5px 5px;
    text-align:center;
    text-shadow: 0 1px 0 #ddd;
    position: absolute;
    top: 235px;
    right: 675px;
    box-shadow: 0 0 10px rgba(255,255,255,.4);
    border: 1px solid #fff;
    min-height: 400px;
    z-index: 4;
}

#info p {
    line-height: 20px;
    margin: 10px 0px 10px 0px;
}

#buildings, #clouds, #signal {
    position: fixed;
}

#buildings {
    bottom: 0;
    right: 0;
    z-index: 1;
}

#clouds {
    top: 0;
    right: 0;  
    z-index: 2; 
}

#signal {
    top: 150px;
    right: 400px;
    z-index: 3;
}
