/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* ********************* */


html, body {
    margin:0;
    padding: 0;
}

body {
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #191919;
}

a, a:visited {
    color: #358dc2;
    text-decoration: none;
}

span.time {
    font-style: italic;
}

#settings #saved {
    display:none;
}

#loader_frame {
    display: block;
    height: 12px;
}

#loader {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#progress-bar {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 780px;
}

#progress-bar div {
    float:left;
}

#progress-bar div.step {
    margin: 0px;
    padding:10px;
    border:1px solid #CCC;
    border-radius: 20px;
    background-color: #FFF;
}

#progress-bar div.selected {
    background-color: #999;
    border:1px solid #666;
}

#progress-bar div.bar {
    border-bottom: 1px #CCC solid;
    height: 0px;
    line-height:0px;
    margin:0px;
    margin-top: 20px;
    padding:0px;
    width: 200px;
}

#credentials {
    display:none;
}

#alert {
    margin-top:100px;
    color: #FFF;
    background-color: rgba(255,233,0,0.7);
    -webkit-border-radius: 5px 5px 5px 5px;
    text-align:center;
    padding: 10px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}


