html {
    background: url(../images/buildings.png) no-repeat bottom right fixed,
    url(../images/clouds.png) no-repeat 437px 34px fixed,
    url(../images/page-bg.gif) repeat-x top left fixed;
}

body {
    padding:0px;
    margin:0px;
}

iframe {
    position: absolute; 
    background-image: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: transparent; 
    width: 100%; 
    height: 705px; 
    top: 40px; 
    padding: 0px; 
    background-position: initial initial; 
    background-repeat: initial initial;
}

.bar {
    height:40px;
    padding:0px;
    margin:0px;
    color: #E6E6E6;
}

.bar p {
    line-height:40px;
    margin:0px;
}

.votes {
    margin:0px;
    padding:0px;
    float:left;
}

img.thumb {
    width:30px;
    background-color: #FFF;
}

img.thumb:hover {
    background-color:green;
}

#current {
}

#next {
    display: none;
}

