<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Msgboy</title>
    <meta name="application-name" content="Msgboy"/>
    <link rel="shortcut icon" href="http://superfeedr.com/favicon.ico">
    
    <!-- Lib includes -->
    <script src="../../lib/underscore/underscore-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone/backbone-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone-indexeddb/backbone-indexeddb.js" type="text/javascript"></script> 
    <script src="../../lib/jquery/jquery.js" type="text/javascript"></script> 
    <script src="../../lib/strophejs/base64.js" type="text/javascript"></script> 
    <script src="../../lib/strophejs/md5.js" type="text/javascript"></script> 
	<script src="../../lib/strophejs/2.2.0-crypto-sha1.js" type="text/javascript"></script> 
    <script src="../../lib/strophejs/core.js" type="text/javascript"></script> 
    <script src="../../lib/strophejs/websocket.js" type="text/javascript"></script> 
    <script src="../../lib/date.format.js" type="text/javascript"></script> 
    
    <!-- Model includes -->
    <script src="../../models/database.js" type="text/javascript"></script> 
    <script src="../../models/message.js" type="text/javascript"></script> 
    <script src="../../models/archive.js" type="text/javascript"></script> 
    <script src="../../models/inbox.js" type="text/javascript"></script> 

    <!-- Controller includes -->
	<script src="../../controllers/strophe.caps.js" type="text/javascript" ></script>
    <script src="../../controllers/strophe.superfeedr.js" type="text/javascript"></script> 
    <script src="../../controllers/strophe.pep.js" type="text/javascript"></script> 
    <script src="../../controllers/strophe.roster.js" type="text/javascript"></script> 
    <script src="../../controllers/utils.js" type="text/javascript"></script> 
    
</head>
<body>
    <script language='javascript'>

	// Google Analytics
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-22746593-1']);
	_gaq.push(['_trackPageview']);

	(function () {
	    var ga = document.createElement('script');
	    ga.type = 'text/javascript';
	    ga.async = true;
	    ga.src = 'https://ssl.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(ga, s);
	})();

	//////////////////////////////////////////////////////////////////////////////////////
	//                                Objects                                           //
	//////////////////////////////////////////////////////////////////////////////////////
	var inbox = new Inbox({id: "1"});
	var logEnabled = true;
	var currentConnectionStatus = {};
	var websocketEndpoint = 'ws://websocket.msgboy.com:5288/ws-xmpp'
	var connection = new Strophe.Connection({
	    protocol: new Strophe.Websocket(websocketEndpoint)
	});
	connection.max_stanzas_per_second = 3; // We limit to 3 stanzas per second.
	var password = "";
	var jid = "";
	var autoReconnect = true;
	var connectionWatchers = [];
	var rosterWatchers = []
	var currentNotification = null;
	var roster = {};

	connection.rawInput = function (data) {
	    log('RECV: ' + data);
	};
	connection.rawOutput = function (data) {
	    log('SENT: ' + data);
	};

	Strophe.log = function (level, msg) {
	    log(level + " :: " + msg);
	}
	
	//////////////////////////////////////////////////////////////////////////////////////
    //                                  Functions                                       //
    //////////////////////////////////////////////////////////////////////////////////////

    // Logs messages to the console
    function log(msg) {
        if (logEnabled) {
            console.log(msg);
        }
    }

    // Handles XMPP Connections
    function onConnect(status) {
        var msg = currentConnectionStatus['msg'];
        if (status == Strophe.Status.CONNECTING) {
            msg = 'Msgboy is connecting.';
        } else if (status == Strophe.Status.CONNFAIL) {
            msg = 'Msgboy failed to connect.';
            setTimeout(function () {
                if (autoReconnect) connect
            }, 5000);
        } else if (status == Strophe.Status.AUTHFAIL) {
            msg = 'Msgboy couldn\'t authenticate. Please check your credentials';
            autoReconnect = false
            // We need to open the settings tab
            chrome.tabs.create({
                url: chrome.extension.getURL('/views/html/options.html'),
                selected: true
            });
        } else if (status == Strophe.Status.DISCONNECTING) {
            msg = 'Msgboy is disconnecting.';
        } else if (status == Strophe.Status.DISCONNECTED) {
            msg = 'Msgboy is disconnected. ';
            setTimeout(function () {
                if (autoReconnect) connect
            }, 5000);
        } else if (status == Strophe.Status.CONNECTED) {
            autoReconnect = true; // Set autoReconnect to true only when we've been connected :)
            msg = 'Msgboy is connected.';
			connection.caps.sendPresenceWithCaps(); // Send presence! 
        }
        currentConnectionStatus['msg'] = msg;
        currentConnectionStatus.trigger("change", msg);
        log(msg);
    } // function onConnect

    // Connects the XMPP Client
    function connect() {
        autoReconnect = true;
        password = inbox.attributes.password;
        jid = inbox.attributes.jid + "@msgboy.com/extension";

        connection.connect(jid, password, onConnect);
    }

    // Disconnects to reconnect.
    function reconnect() {
        autoReconnect = true; // Let's make sure we have the autoReconnect.
        if (connection.status == Strophe.Status.CONNECTING || connection.status == Strophe.Status.CONNECTED || connection.status == Strophe.Status.DISCONNECTING) {
            connection.disconnect(); // Disconnect...
        } else if (
        connection.status == null || connection.status == Strophe.Status.DISCONNECTED || connection.status == Strophe.Status.CONNFAIL || connection.status == Strophe.Status.AUTHFAIL) {
            connect(); // Looks like we never tried to actually connect!
        }
    }


	inbox.bind("messages:added", function(id) {
		_gaq.push(['_trackEvent', 'notification-showed']);
		log("Showing notification for " + id)
		// Open a notification window if needed!
		if (!currentNotification) {
			url = chrome.extension.getURL('/views/html/notification.html');
			webkitNotification = window.webkitNotifications.createHTMLNotification(url);
			webkitNotification.onclose = function () {
				currentNotification = null;
			};
			webkitNotification.show();
			currentNotification = webkitNotification;
		}
		chrome.extension.sendRequest({
			"notify": {
				"message": id
			}
		}, function (response) {
			// Let's notify the people who may care about this, includingthe notification popup, hopefully :)
		});
		return currentNotification;
	})

	chrome.management.get(chrome.i18n.getMessage("@@extension_id"), function (extension_infos) {

	    //////////////////////////////////////////////////////////////////////////////////////
	    //                   XMPP Capabilities		                                        //
	    //////////////////////////////////////////////////////////////////////////////////////
	    connection.caps.setNode("http://download.msgboy.com/msgboy.crx")
	    connection.caps.addDiscoCategory(extension_infos.name + " " + extension_infos.version, "client", "web", "en");

	    connection.caps.addDiscoFeature("http://jabber.org/protocol/caps");
	    connection.caps.addDiscoFeature("http://jabber.org/protocol/links");
	    connection.caps.addDiscoFeature("http://jabber.org/protocol/links+notify");
	    connection.caps.addDiscoFeature("http://jabber.org/protocol/disco#info");
	    connection.caps.addDiscoFeature("http://jabber.org/protocol/disco#items");

	    //////////////////////////////////////////////////////////////////////////////////////
	    //                   Roster Changed Handler                                  	    //
	    //////////////////////////////////////////////////////////////////////////////////////
	    $(document).bind('roster_changed', function (ev, contacts) {
	        log("roster_changed");
	        _gaq.push(['_trackEvent', 'roster-changed']);
	        roster.contacts = contacts
	        roster.trigger("change", contacts);
	    });
	
	
	    //////////////////////////////////////////////////////////////////////////////////////
	    //                   Notification Received  Handler                                 //
	    //////////////////////////////////////////////////////////////////////////////////////
	    $(document).bind('notification_received', function (ev, notification) {
		    log("message-received");
	        _gaq.push(['_trackEvent', 'message-received']);
			msg = connection.superfeedr.convertAtomToJson(notification.payload);
			if(notification.source && !msg.source) {
				msg.source = notification.source
			}
			if(notification.via) {
				msg.via = notification.via
			}
	        message = inbox.addMessage(msg, {
				success: function() {
					// Cool, message saved!
				}
			});
		});

	    //////////////////////////////////////////////////////////////////////////////////////
	    //                   Connection Requested Handler                                  	//
	    //////////////////////////////////////////////////////////////////////////////////////
	    $(document).bind('connection_requested', function (ev, connection_jid) {
	        log("connection_requested");
	        _gaq.push(['_trackEvent', 'connection_requested']);
			date = new Date();
			var atom_id = "tag:msgboy.com," + (new Date()).format("yyyy-mm-dd") + "/internal/connections/" + escape(connection_jid);
			msg = {
                id: MD5.hexdigest(atom_id + Math.random() * 11),
                atom_id: atom_id,
                published: date.toISOString(),
                updated: date.toISOString(),
                title: connection_jid + " wants to connect",
                summary: "You will be able to share content with " + connection_jid + ", and " + connection_jid + " will be able to share content with you.",
                read_at: new Date().getTime(),
                unread_at: 0,
                starred_at: 0,
                content: null,
                links: {
					"alternate": {
						"text/html": [
							{
								rel: "alternate",
								type: "text/html",
								title: connection_jid + " wants to connect",
								href: chrome.extension.getURL('/views/html/inbox.html')
							}
						]
					}
				},
				actions: { 
					'acceptConnection': {
						'name': 'Accept',
						'params': {'jid' : connection_jid}
					}, 
					'declineConnection': {
						'name': 'Decline',
						'params': {'jid' : connection_jid}
					}
				},
                source: null
            }
            message = inbox.addMessage(msg, {
				success: function() {
					// Cool, message saved!
				}
			});
	        // connection.roster.approve(connection_jid);
	    });

	    //////////////////////////////////////////////////////////////////////////////////////
	    //                   Connection Status                                              //
	    //////////////////////////////////////////////////////////////////////////////////////
	    currentConnectionStatus['msg'] = 'Msgboy is disconnected. ';
	    _.extend(currentConnectionStatus, Backbone.Events);
	    currentConnectionStatus.bind("change", function (msg) {
	        $.each(connectionWatchers, function (index, port) {
	            try {
	                port.postMessage(msg);
	            } catch (error) {
	                log("Could not post message to port : " + error)
	            }
	        })
	    });

	    //////////////////////////////////////////////////////////////////////////////////////
	    //                   Roster			                                                //
	    //////////////////////////////////////////////////////////////////////////////////////
	    _.extend(roster, Backbone.Events);
	    roster.bind("change", function (roster) {
	        $.each(rosterWatchers, function (index, port) {
	            try {
	                port.postMessage(roster);
	            } catch (error) {
	                log("Could not post message to port : " + error)
	            }
	        })
	    });

	    //////////////////////////////////////////////////////////////////////////////////////
	    //                          Chrome Extension Handlers                               //
	    //////////////////////////////////////////////////////////////////////////////////////
	    // Adds a listener on the connection status to be used in the bookmark
	    chrome.extension.onConnect.addListener(function (port) {
	        log("New port connected : " + port.tab.id);
	        if (port.name == "connection") {
	            port.onDisconnect.addListener(function () {
	                log("This port was disconnected : " + port.tab.id)
	                idx = connectionWatchers.indexOf(port);
	                if (idx != -1) {
	                    connectionWatchers.splice(idx, 1);
	                }
	            });
	            port.postMessage(currentConnectionStatus.msg);
	            connectionWatchers.push(port);
	        } else if (port.name == "roster") {
	            port.onDisconnect.addListener(function () {
	                log("This port was disconnected : " + port.tab.id)
	                idx = rosterWatchers.indexOf(port);
	                if (idx != -1) {
	                    rosterWatchers.splice(idx, 1);
	                }
	            });
	            port.postMessage(roster.contacts);
	            rosterWatchers.push(port);
	        }
	    });

	    // Handler for messages
	    chrome.extension.onRequest.addListener(function (request, sender, sendResponse) {
	        if (request.settings) { // Settings
	            if (request.settings.get) { // get them
	                log("Request : settings.get " + JSON.stringify(request.settings.get));
	                sendResponse({
	                    value: inbox.get(request.settings.get[0])
	                });
	            } else if (request.settings.set) { // Set them
	                log("Request : settings.set " + JSON.stringify(request.settings.set));
	                attrs = {};
	                attrs[request.settings.set[0]] = request.settings.set[1];
					inbox.save(attrs, {
						success: function() {
							sendResponse({
								value: true
							});
						}
					});
	            }
	        } else if (request.tab) { // Open tab
	            _gaq.push(['_trackEvent', 'tab-opened']);
	            log("Request : tab")
		
				var active_window = null
				
				chrome.windows.getAll({}, function(windows) {
					windows = _.select(windows, function(win) {
						return win.type == "normal" && win.focused
					}, this)
					// If no window is focused and "normal"
					if(windows.length == 0) {
						window.open(request.tab.url); // Can't use Chrome's API as it's buggy :(
					}
					else {
						// Just open an extra tab.
						options = request.tab
						options.windowId = windows[0].id
						chrome.tabs.create(options, function() {
							sendResponse({
								value: true
							});
						});
					}
				})
	        } else if (request.subscribe) { // Subscribes to more feeds
	            log("Request : subscribe ")
	            _gaq.push(['_trackEvent', 'subscription-requested']);
	            connection.superfeedr.subscribe(request.subscribe.url, function (result) {
	                _gaq.push(['_trackEvent', 'feed-subscribed']);
	                var atom_id = "tag:msgboy.com," + (new Date()).format("yyyy-mm-dd") + "/internal/subscriptions/" + escape(request.subscribe.url);
	                var msg = {
	                    id: MD5.hexdigest(atom_id + Math.random() * 11),
	                    atom_id: atom_id,
	                    title: "Following " + request.subscribe.title,
	                    summary: "You're now following " + request.subscribe.title,
	                    read_at: new Date().getTime(),
						unread_at: 0,
	                    starred_at: 0,
	                    content: null,
	                    links: {},
	                    source: null
	                };
	                message = inbox.addMessage(msg, {
						success: function() {
							// Cool, message saved!
						}
					});
	                sendResponse({
                        value: result
                    });
    
	            })
	        } else if (request.unsubscribe) { // Unsubscribes from feeds
	            log("Request : unsubscribe")
	            _gaq.push(['_trackEvent', 'unsubscription-requested']);
	            connection.superfeedr.unsubscribe(request.unsubscribe, function (result) {
	                _gaq.push(['_trackEvent', 'feed-unsubscribed']);
	                sendResponse({
	                    value: result
	                });
	            })
	        } else if (request.connect) {
	            _gaq.push(['_trackEvent', 'connection-initiated']);
	            log("Request : connect")
	            reconnect();
	            sendResponse({
	                value: true
	            });
	        } else if (request.reset) {
	            _gaq.push(['_trackEvent', 'reset-requested']);
	            log("Request : reset")
	            // First, disconnect
	            autoReconnect = false; // Let's make sure we don't the autoReconnect.
	            connection.disconnect();
	            // Then delete pending notifications
	            if (currentNotification) {
	                currentNotification.cancel();
	            }
	            // Finally, clean the storage.
	            inbox = new Inbox({id: "1"});
	            sendResponse({
	                value: true
	            });
	        } else if (request.close) {
	            _gaq.push(['_trackEvent', 'notification-closed']);
	            log("Request : close")
	            currentNotification = null;
	            sendResponse({
	                value: true
	            });
	        } else if (request.addConnection) {
	            _gaq.push(['_trackEvent', 'connection-requested']);
	            log("Request : addConnection");
	            connection.roster.subscribe(request.addConnection);
	            sendResponse({
	                value: true
	            });
	        } else if (request.removeConnection) {
	            _gaq.push(['_trackEvent', 'connection-removed']);
	            log("Request : removeConnection");
	            connection.roster.unsubscribe(request.removeConnection);
	            sendResponse({
	                value: true
	            });
	        } else if (request.acceptConnection) {
	            _gaq.push(['_trackEvent', 'connection-accepted']);
	            log("Request : acceptConnection");
	            connection.roster.approve(request.acceptConnection);
	            connection.roster.subscribe(request.acceptConnection);
	            sendResponse({
	                value: true
	            });
	        } else if (request.refuseConnection) {
	            _gaq.push(['_trackEvent', 'connection-refused']);
	            log("Request : refuseConnection");
	            connection.roster.decline(request.acceptConnection);
	            connection.roster.unsubscribe(request.refuseConnection);
	            sendResponse({
	                value: true
	            });
			} else if (request.share) {
	            _gaq.push(['_trackEvent', 'item-shared']);
	            log("Request : share");
				// And now we need to share stuff!
				payload = connection.superfeedr.buildAtomFromJson(
					request.share.title,
					request.share.selection,
					[
						{
							"rel": "alternate",
							"type": "text/html",
							"title": request.share.title,
							"href": request.share.location
						}
					]
					, function() {
						log("Successfully shared");
					}, function() {
						log("Failed to share")
					});
				connection.pep.publish("http://jabber.org/protocol/links", payload);
				sendResponse({
					value: true
	            });
			} else if (request.unreadCount) {
				archive = new Archive();
				archive.fetch({
					conditions: {
						unread_at: [inbox.attributes.epoch, new Date().getTime()]
					},
					success: function() {
						sendResponse({
							value: archive.length
			            });
					}.bind(this)
				});
	        } else {
	            log("Could not handle message : " + request)
	        }
	    });


	    //////////////////////////////////////////////////////////////////////////////////////
	    //                                        Main                                      //
	    //////////////////////////////////////////////////////////////////////////////////////
		inbox.fetch({
			success: function() {
				// Nothing to do. The change event should have been triggered
				if (inbox.attributes.jid && inbox.attributes.jid != "" && inbox.attributes.password && inbox.attributes.password != "") { 
			        _gaq.push(['_trackEvent', 'connection-initiated']);
			        connect();
			    } else {
			        // We need the user to enter its settings
			        chrome.tabs.create({
			            url: chrome.extension.getURL('/views/html/options.html'),
			            selected: true
			        });
			    }
			},
			error: function() {
				// Looks like there is no such inbox.
				inbox.save({
					epoch: new Date().getTime()
				}, {
					success: function() {
				        chrome.tabs.create({
				            url: chrome.extension.getURL('/views/html/options.html'),
				            selected: true
				        });
					},
					error: function() {
						log("We could not create a database for msgboy.")
					}
				});
			}
		})
	});
	
	</script>
</body>