<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Msgboy</title>
    <meta name="application-name" content="Msgboy"/>
    
    <!-- Lib includes -->
    <script src="../../lib/underscore/underscore-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone/backbone-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone-indexeddb/backbone-indexeddb.js" type="text/javascript"></script> 
    <script src="../../lib/jquery/jquery.js" type="text/javascript"></script> 
    <script src="../../lib/strophejs/base64.js" type="text/javascript"></script> 
    <script src="../../lib/strophejs/md5.js" type="text/javascript"></script> 
	<script src="../../lib/strophejs/2.2.0-crypto-sha1.js" type="text/javascript"></script> 
    <script src="../../lib/strophejs/core.js" type="text/javascript"></script> 
    <script src="../../lib/strophejs/websocket.js" type="text/javascript"></script> 
    <script src="../../lib/date.format.js" type="text/javascript"></script> 
	<script src="../../lib/strophe.caps.js" type="text/javascript" ></script>
	<script src="../../lib/strophe.superfeedr.js" type="text/javascript" ></script>
	<script src="../../lib/brain-0.3.5.min.js" type="text/javascript" ></script>
	<script src="../../lib/stemmer.js" type="text/javascript" ></script>
    
    <!-- Model includes -->
    <script src="../../models/database.js" type="text/javascript"></script> 
    <script src="../../models/message.js" type="text/javascript"></script> 
    <script src="../../models/archive.js" type="text/javascript"></script> 
    <script src="../../models/inbox.js" type="text/javascript"></script> 
    <script src="../../models/subscription.js" type="text/javascript"></script> 

    <!-- Controller includes -->
    <script src="../../controllers/msgboy.js" type="text/javascript"></script> 
    <script src="../../controllers/events.js" type="text/javascript"></script> 
    <script src="../../controllers/utils.js" type="text/javascript"></script> 
    <script src="../../controllers/uploader.js" type="text/javascript"></script> 
    <script src="../../controllers/bayesian_filter.js" type="text/javascript"></script> 
    
    <!-- Plugins includes -->
    <script src="../../controllers/plugins.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/generic.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/history.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/bookmarks.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/digg.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/disqus.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/github-repos.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/github-users.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/google-reader.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/tumblr.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/blogger.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/posterous.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/statusnet.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/typepad.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/quora-people.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/quora-topics.js" type="text/javascript"></script> 
    
</head>
<body>
    <div id="log"></div>
    <script language='javascript'>
    
    // Google Analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22746593-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = 'https://ssl.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();


    var inbox = new Inbox();
    
    Msgboy.logEnabled = true;
    Msgboy.connection = new Strophe.Connection({
        protocol: new Strophe.Websocket('ws://websocket.msgboy.com:5288/ws-xmpp')
    });
    Msgboy.connection.max_stanzas_per_second = 1; // We limit to 1 outgoing stanzas per second.

    Msgboy.connection.rawInput = function (data) {
        // Msgboy.log('RECV: ' + data);
    };
    Msgboy.connection.rawOutput = function (data) {
        // Msgboy.log('SENT: ' + data);
    };

    Strophe.log = function (level, msg) {
        Msgboy.log(msg);
    }

    // When a new message was added to the inbox
    inbox.bind("messages:added", function (message) {
        if (message.attributes.relevance >= inbox.attributes.options.relevance) {
            Msgboy.log("Showing message : " + message.attributes.id + " (" + message.attributes.relevance + " >= " + inbox.attributes.options.relevance + ") ");
            Msgboy.notify(message);
        } else {
            Msgboy.log("Not showing message : " + message.attributes.id + " (" + message.attributes.relevance + " < " + inbox.attributes.options.relevance + ") ");
        }
    });

    // when the inbox is ready
    inbox.bind("ready", function () {
        Msgboy.connect();
    });

    // When the inbox is new.
    inbox.bind("new", function () {
        // Let's open the splash screen
        chrome.tabs.create({
            url: chrome.extension.getURL('/views/html/help.html'),
            selected: true
        });
        // And import all plugins.
        Plugins.import(function(subs) {
            Msgboy.subscribe(subs, function() {
                // Cool. Not much to do.
            });
        });
    });

    // When reloading the inbox is needed (after a change in settings eg)
    $(document).bind('reload', function(element, object) {
        Msgboy.log("Request : reload ");
        inbox.fetch();
    });
    
    // When a new notification was received from XMPP line.
    $(document).bind('notification_received', function (ev, notification) {
        Msgboy.log("Notification received from " + notification.source.url);
        var msg = Msgboy.connection.superfeedr.convertAtomToJson(notification.payload);
        msg.source = notification.source;
        msg.feed = notification.source.url;
        if (notification.via) {
            msg.via = notification.via
        }
        var message = inbox.add_message(msg, {
            success: function () {
                Msgboy.log("Saved message " + msg.id);
            }.bind(this),
            error: function (object, error) {
                // Message was not saved... probably a dupe
                Msgboy.log("Could not save message " + JSON.stringify(msg));
                Msgboy.log(error);
            }.bind(this),
        });
    });

    // Chrome specific. We want to turn any Chrome API callback into a DOM event. It will greatly improve portability.
    chrome.extension.onRequest.addListener(function (_request, _sender, _sendResponse) {
        $(document).trigger(_request.signature, {
            request: _request,
            sender: _sender,
            sendResponse: _sendResponse
        });
    });

    // XMPP discovery.
    Msgboy.connection.caps.setNode("http://download.msgboy.com/msgboy.crx")
    Msgboy.connection.caps.addDiscoFeature("http://jabber.org/protocol/caps");

    // Main!
    chrome.management.get(chrome.i18n.getMessage("@@extension_id"), function (extension_infos) {
        Msgboy.connection.caps.addDiscoCategory(extension_infos.name + " " + extension_infos.version, "client", "web", "en");
        inbox.fetch_and_prepare();
    });

    // Plugins management
    $.each(Plugins.all, function (index, plugin) {
        if (typeof (plugin.subscribeInBackground) != "undefined") {
            plugin.subscribeInBackground(function (feed) {
                Msgboy.log("Request : subscribe " + feed.href);
                Msgboy.connection.superfeedr.subscribe(feed.href, function (result, f) {
                    Msgboy.log("Request : subscribed " + feed.href);
                })
            });
        }
    });
    
    </script>
</body>