<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>
            Dashboard
        </title>
        <meta name="application-name" content="Msgboy" />
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../css/dashboard.css" />
        
        <!-- Lib includes -->
        <script src="../../lib/jquery/jquery.js" type="text/javascript"></script>
        <script src="../../lib/date.extensions.js" type="text/javascript"></script>
        <script src="../../lib/pretty.js" type="text/javascript"></script>
        <script src="../../lib/underscore/underscore-min.js" type="text/javascript"></script>
        <script src="../../lib/backbone/backbone-min.js" type="text/javascript"></script>
        <script src="../../lib/backbone-indexeddb/backbone-indexeddb.js" type="text/javascript"></script>

        <!-- Model includes -->
        <script src="../../models/database.js" type="text/javascript"></script>
        <script src="../../models/message.js" type="text/javascript"></script>
        <script src="../../models/archive.js" type="text/javascript"></script>
        <script src="../../models/inbox.js" type="text/javascript"></script>

        <!-- Controller includes -->
        <script src="../../controllers/utils.js" type="text/javascript"></script>
    </head>
    
    <body>
        <div id="mb-signal"></div>
        
        <div id="archive">
            <div id="content">
                Relevance : <input type="range"  min="0" max="100" value="50" id="relevance-slider" /> 
                <!-- Messages will be added here when loaded -->
            </div>
        </div>
        
        <script>
            var MessageView = Backbone.View.extend({
                tagName: "p",
                className: "message",
                
                events: {
                    "click img.vote-up": "up",
                    "click img.vote-down": "down"
                },
                
                initialize: function() {
                    _.bindAll(this, "render", "up", "down");
                    
                    this.model.view = this;
                    $("#relevance-slider").mouseup(function() {
                        this.render();
                    }.bind(this))
                    
                    // The votes
                    var votes = $("<span>", {
                        class: "votes"
                    });
                    $("<img>", {
                        src: "../icons/up.png",
                        class: "thumbs vote-up",
                    }).appendTo(votes);
                    
                    $("<img>", {
                        src: "../icons/down.png",
                        class: "thumbs vote-down",
                    }).appendTo(votes);
                    votes.appendTo($(this.el));

                    $("<span>", {
                        text: this.model.attributes.source.title,
                        class: "source"
                    }).appendTo($(this.el));
                    
                    var a = $("<a>", {
                        href: this.model.main_link(),
                        text: truncate(strip(this.model.attributes.title), 80),
                        target: "_blank"
                    });
                    
                    var span = $("<span>", {
                        class: ""
                    }).appendTo($(this.el));
                    a.appendTo(span);
                    
                    
                    $("<span>", {
                        text: prettyDate(new Date(this.model.attributes.created_at)),
                        "data-msgboy-created-at":this.model.attributes.created_at,
                        class: "time"
                    }).appendTo($(this.el));
                    
                    
                    
                    $(this.el).attr("data-msgboy-relevance", this.model.attributes.relevance);
                    $(this.el).attr("data-msgboy-state", this.model.attributes.state);
                    
                    $(this.el).attr("id", this.model.id);
                    this.model.bind("change", this.render);
                },
                
                // Message was voted up
                up: function() {
                    this.model.vote_up();
                },
                
                // Message was voted down
                down: function() {
                    this.model.vote_down(function(result) {
                        if(result.unsubscribe) {
                            var request = {
                                unsubscribe: this.model.attributes.feed
                            };
                            chrome.extension.sendRequest(request);
                            archiveView.delete_from_feed(this.model.attributes.feed);
                        }
                    }.bind(this));
                },
                
                render: function() {
                    if(this.model.attributes.state == "up-ed" || this.model.attributes.state == "down-ed") {
                        $(this.el).hide();
                    } else {
                        if(this.model.attributes.relevance < parseFloat($("#relevance-slider").attr("value"))/100) {
                            $(this.el).hide();
                        } else {
                            $(this.el).show();
                        }
                    }
                    return this;
                },
            });
            
            // Our overall InboxView is the top-level piece of UI.
            var ArchiveView = Backbone.View.extend({
                initialize: function() {
                    var now = new Date().getTime();
                    _.bindAll(this, 'render');
                    
                    this.collection.all({
                        created_at: [now, now - 1000 * 60 * 60 * 24]
                    },
                    function() {
                        this.render();
                    }.bind(this));
                },
                
                render: function() {
                    _.each(this.collection.models, function(message) {
                        var view = new MessageView({
                            model: message
                        });
                        $("#content").append(view.render().el);
                    }.bind(this));
                },
                
                delete_from_feed: function(feed) {
                    _.each(this.collection.models, function(model) {
                        if(model.attributes.feed == feed) {
                            model.destroy({
                                success: function() {
                                    model.view.remove();
                                }
                            });
                        }
                    });
                }
                
            });
            
            var archiveView = null;
            var archive = null;
            var inbox = new Inbox({
                id: "1"
            });
            inbox.fetch({
                success: function() {
                    archive = new Archive();
                    archive.comparator = function(message) {
                      return -message.attributes.created_at;
                    };
                    
                    archiveView = new ArchiveView({
                        el: "#archive",
                        collection: archive
                    });
                }
            })
        </script>
    </body>

</html>