<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Msgboy Dashboard</title>
        <meta name="application-name" content="Msgboy" />
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../css/dashboard.css" />
        
        <!-- Error Reporting Code -->
        <script type="text/javascript" src="../../controllers/error_notifier.js"></script>
        
        <!-- Lib includes -->
        <script src="../../lib/jquery/jquery.js" type="text/javascript"></script> 
        <script src="../../lib/underscore/underscore-min.js" type="text/javascript"></script> 
        <script src="../../lib/backbone/backbone-min.js" type="text/javascript"></script> 
        <script src="../../lib/backbone-indexeddb/backbone-indexeddb.js" type="text/javascript"></script> 
        <script src="../../lib/jquery/jquery.isotope.min.js" type="text/javascript"></script> 
        <script src="../../lib/date.format.js" type="text/javascript"></script> 
        <script src="../../lib/brain-0.3.5.min.js" type="text/javascript" ></script>
        <script src="../../lib/stemmer.js" type="text/javascript" ></script>

        <!-- Controller includes -->
        <script src="../../controllers/msgboy.js" type="text/javascript"></script> 
        <script src="../../controllers/events.js" type="text/javascript"></script> 
        <script src="../../controllers/utils.js" type="text/javascript"></script> 
        <script src="../../controllers/bayesian_filter.js" type="text/javascript"></script> 
        
        <!-- Model includes -->
        <script src="../../models/database.js" type="text/javascript"></script> 
        <script src="../../models/message.js" type="text/javascript"></script> 
        <script src="../../models/archive.js" type="text/javascript"></script> 
        <script src="../../models/inbox.js" type="text/javascript"></script> 
        <script src="../../models/subscription.js" type="text/javascript"></script> 
        
        <!-- Views includes -->
        <script src="../../views/js/message-view.js" type="text/javascript"></script>
        <script src="../../views/js/archive-view.js" type="text/javascript"></script>
        
    </head>
    
    
    <body>
        
        <header>
            <a href="dashboard.html"><h1>msgboy</h1></a>
            <a href="options.html" class="options">Options</a><a href="help.html" class="help">Help</a>
            <div id="new_messages"></div>
            <h2>Dashboard</h2>
        </header>
        

        <div id="archive">
            <div id="container" class="isotope">
                <!-- Messages will be added here when loaded -->
            </div>

        </div>
        
        <script type="text/javascript">
            Msgboy.bind("loaded", function () {
                $('#container').isotope({
                    itemSelector: '.message',
                    filter: '.brick-2 .brick-3 .brick-4',
                    masonry: {
                        columnWidth: 10,
                    },
                    sortBy: 'random',
                });

                var archive = new Archive();

                // When a message was voted-up
                archive.bind("up-ed", function (message) {
                    BayesianFilter.train_with_message(message);
                });

                // When a message was changed
                archive.bind("change", function (message) {
                    $('#container').isotope('reLayout');
                });
                
                archive.bind("down-ed", function (message) {
                    BayesianFilter.train_with_message(message)
                });

                $("#new_messages").click(function () {
                    // Refresh the page! Maybe it would actually be fancier to add the elements to the archive and then push them in front. TODO
                    window.location.reload(true);
                }) 

                var archiveView = new ArchiveView({
                    el: "#archive",
                    collection: archive,
                });
                archiveView.render();

                chrome.extension.onRequest.addListener(function (request, sender, sendResponse) {
                    if (request.signature == "notify" && request.params) {
                        // Cool, we have a new message. Let's see if we add it to the top, or reload the page.
                        // Let's get the content of $("#new_messages")
                        var count = parseInt($("#new_messages").attr("data-unread"));
                        if (count) {
                            $("#new_messages").attr("data-unread", count + 1);
                            $("#new_messages").text("view " + (count + 1) + " new messages");
                        } else {
                            $("#new_messages").css("top","0");
                            $("#new_messages").attr("data-unread", "1");
                            $("#new_messages").text("view 1 new message");
                        }
                    }
                });
            });
            Msgboy.run();

        </script>
    </body>

</html>