<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>
            Dashboard
        </title>
        <meta name="application-name" content="Msgboy" />
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../css/dashboard.css" />
        
        <!-- Lib includes -->
        <script src="../../lib/jquery/jquery.js" type="text/javascript"></script>
        <script src="../../lib/jquery/jquery.isotope.min.js" type="text/javascript"></script>
        <script src="../../lib/date.extensions.js" type="text/javascript"></script>
        <script src="../../lib/underscore/underscore-min.js" type="text/javascript"></script>
        <script src="../../lib/backbone/backbone-min.js" type="text/javascript"></script>
        <script src="../../lib/backbone-indexeddb/backbone-indexeddb.js" type="text/javascript"></script>

        <!-- Model includes -->
        <script src="../../models/database.js" type="text/javascript"></script>
        <script src="../../models/message.js" type="text/javascript"></script>
        <script src="../../models/archive.js" type="text/javascript"></script>
        <script src="../../models/inbox.js" type="text/javascript"></script>

        <!-- Controller includes -->
        <script src="../../controllers/utils.js" type="text/javascript"></script>
    </head>
    
    <body>
        <div id="mb-signal"></div>
        
        <div id="archive">
            <div id="container" class="isotope">
                <!-- Messages will be added here when loaded -->
            </div>
        </div>
        
        <script>
            var MessageView = Backbone.View.extend({
                tagName: "div",
                className: "message",
                
                events: {
                    "click .up": "up",
                    "click .down": "down"
                },
                
                initialize: function() {
                    _.bindAll(this, "render", "up", "down");
                    
                    this.model.view = this;
                    
                    var controls = $("<span>", {
                        class:"controls"
                    }).appendTo($(this.el));
                    $("<button>", {
                        class:"up",
                        text:"+"
                    }).appendTo(controls);
                    $("<button>", {
                        class:"down",
                        text:"-"
                    }).appendTo(controls);
                    
                    $(this.el).attr("data-msgboy-relevance", this.model.attributes.relevance);
                    $(this.el).attr("data-msgboy-state", this.model.attributes.state);
                    
                    if(Math.ceil(this.model.attributes.relevance * 4) == 1 || this.model.attributes.state == "down-ed") {
                        $(this.el).addClass("brick-1");
                    } else if(this.model.attributes.state == "up-ed"){
                        $(this.el).addClass("brick-4");
                    } else {
                        $(this.el).addClass("brick-" +Math.ceil( this.model.attributes.relevance * 4));
                    }
                    
                    $(this.el).attr("id", this.model.id);
                    this.model.bind("change", this.render);
                },
                
                format: function(done) {
                    if(this.model.layout() == "image") {
                        this.image_layout(done);
                    }
                    else {
                        this.text_layout(done);
                    }
                },

                image_layout: function(done) {
                    $(this.el).addClass("image");
                    $("<h1/>").text(this.model.attributes.title).appendTo($(this.el));
                    this.adjust_title(function() {
                        $("<img/>").attr("src", this.model.image()).load(function() {
                            pic_real_width = this.$("img").width();
                            pic_real_height = this.$("img").height(); 
                            if(pic_real_width/pic_real_height > $(this.el).width()/$(this.el).height()) {
                                if($(this.el).height() > this.$("img").height()) {
                                    $(this.el).css("height", his.$("img").height())
                                }
                                else {
                                    this.$("img").css("max-height", $(this.el).height() + "px");
                                }
                            } else {
                                if($(this.el).width() > this.$("img").width()) {
                                    $(this.el).css("width", this.$("img").width());
                                }
                                else {
                                    this.$("img").css("max-width", $(this.el).width() + "px");
                                }
                            }
                        }.bind(this)).appendTo($(this.el));
                    }.bind(this));
                },
                
                text_layout: function(done) {
                    $(this.el).addClass("text");
                    $("<p>").html(this.model.text()).appendTo($(this.el));
                    $("<h1/>").text(this.model.attributes.title).appendTo($(this.el));
                    this.adjust_title(done);
                },
                
                adjust_title: function(done) {
                    this.$("h1").css("background-image", "url('http://g.etfv.co/" + this.model.attributes.alternate + "?defaulticon=lightpng')");
                    var i = parseInt(this.$("h1").css("font-size"));
                    while((this.$("h1").width() + 40) > $(this.el).width() && i > 6) {
                        this.$("h1").css("font-size", --i+"px");
                    }
                    this.$("h1").css("width", "100%");
                    done();
                },
                
                // Message was voted up
                up: function() {
                    $(this.el).removeClass("brick-1");
                    $(this.el).removeClass("brick-2");
                    $(this.el).removeClass("brick-3");
                    $(this.el).addClass("brick-4");
                    $('#container').isotope('reLayout');
                    this.model.vote_up();
                    this.adjust_title();
                },
                
                // Message was voted down
                down: function() {
                    $(this.el).removeClass("brick-2");
                    $(this.el).removeClass("brick-3");
                    $(this.el).removeClass("brick-4");
                    $(this.el).addClass("brick-1");
                    $('#container').isotope('reLayout', function() {
                        $(this.el).hide();
                    }.bind(this));
                    
                    this.model.vote_down(function(result) {
                        if(result.unsubscribe) {
                            var request = {
                                unsubscribe: this.model.attributes.feed
                            };
                            chrome.extension.sendRequest(request);
                            archiveView.delete_from_feed(this.model.attributes.feed);
                        }
                    }.bind(this));
                },
                
                render: function(done) {
                    this.format(done);
                },
            });
            
            // Our overall InboxView is the top-level piece of UI.
            var ArchiveView = Backbone.View.extend({
                
                now: new Date().getTime(),
                days: 1,
                loading: false,
                
                events: {
                },
                
                initialize: function() {
                    _.bindAll(this, 'render', 'delete_from_feed', 'show_new', 'complete_page', 'load_next');
                    $(document).scroll(this.complete_page);
                    
                    this.collection = new Archive();
                    
                    this.collection.comparator = function(message) {
                      return -message.attributes.created_at;
                    };
                    
                    this.collection.bind("add", this.show_new);
                    this.load_next();
                },

                complete_page: function() {
                    if ($("#container").height() < $(window).height()) {
                        // We should also pre-emptively load more pages if the document is shorter than the page.
                        this.load_next();
                    } else if ($(window).scrollTop() > $(document).height() - $(window).height() - 300) {
                        // We're close to the bottom. Let's load an additional page!
                        this.load_next();
                    }
                    else {
                        // Nothing to load
                        // this.load_next();
                    }
                },

                load_next: function() {
                    if(!this.loading) {
                        this.loading = true;
                        this.collection.next({
                            created_at: [this.now, this.now - this.days * (1000 * 60 * 60 * 24)]
                        });
                    }
                },

                render: function() {
                    $(".message").remove(); // Cleanup
                },
                
                show_new: function(message) {
                    this.loading = false;
                    var view = new MessageView({
                        model: message
                    });
                    view.render(function() {
                        $("#container").append(view.el);
                        $('#container').isotope('appended', $(view.el), function() {
                            this.complete_page();
                        }.bind(this));
                    }.bind(this));
                },
                
                delete_from_feed: function(feed) {
                    _.each(this.collection.models, function(model) {
                        if(model.attributes.feed == feed) {
                            model.destroy({
                                success: function() {
                                    model.view.remove();
                                }
                            });
                        }
                    });
                },
            });
            
            $('#container').isotope({
              itemSelector : '.message',
              filter: '.brick-2 .brick-3 .brick-4' 
            });
            
            var archiveView = null;
            var inbox = new Inbox({
                id: "1"
            });
            inbox.fetch({
                success: function() {
                    archiveView = new ArchiveView({
                        el: "#archive",
                    });
                    archiveView.render();
                }
            })
        </script>
    </body>

</html>