<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the msgboy</title>
    <meta name="application-name" content="Msgboy"/>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/help.css" />
</head>
<body class="splash">

    <header>
        <a href="dashboard.html"><h1>msgboy</h1></a>
        <h2>Help</h2>
        <a href="options.html" class="options">Options</a><a href="help.html" class="help">Help</a>
    </header>

    <div id="info">
        
        <div id="intro" class="pane">
            <h1>Follow your web with <em>msgboy</em></h1>
            <p><img src="../images/help1.jpg" />The <strong><em>msgboy</em></strong> uses your browsing and bookmarks to serve you a live stream of what you’re most interested in. </p>
            
            <p>He’s smart, too! Plus or minus stories to help him know what you want to see more—or less—of. </p>
            <p><a href="#training">Next &raquo;</a></p>
            <div style="clear:both;"></div>
        </div>
        
        <div id="training" class="pane">
            <h1>Training <em>msgboy</em></h1>
            
            <p><img src="../images/help-buttons.jpg" />Click the <strong><em>plus</em></strong> to tell <em><strong>msgboy</strong></em> you want more of this and the <strong><em>minus</em></strong> if you want less.</p>
            <p><a href="#intro">&laquo Previous</a> | <a href="#notifications">Next &raquo;</a></p>
            <div style="clear:both;"></div>
        </div>
        
        <div id="notifications" class="pane">
            <h1>Notifications</h1>
            <p>The <strong><em>msgboy</em></strong> uses Chrome desktop notifications to feed you what it thinks you’ll be most interested in.</p>
            
            <p>You can hit the <em><strong>plus</strong></em> or <strong><em>minus</em></strong> to provide feedback right from the notification, or just click the story to visit it.</p>
            
            <p>To adjust the frequency of notifications, visit the Settings by clicking the gear icon.</p>
            
            <p><a href="#training">&laquo Previous</a> | <a href="#privacy">Next &raquo;</a></p>
        </div>
        
        <div id="privacy" class="pane">
            <h1>Your data is privately yours</h1>
            <p>The <strong><em>msgboy</em></strong> uses HTML5’s ability to store and access your data locally, so <strong><em>msgboy</em></strong> accesses it from your machine for your use, which makes it extra fast.</p>
            
            <p>Your <em><strong>msgboy</strong></em> is yours &mdash; he doesn’t report home. Ever.</p>
            
            <p><a href="#notifications">&laquo Previous</a></p>
        </div>
    </div>
    
    <img id="buildings" src="../images/buildings.png" />
    <img id="clouds" src="../images/clouds.png" />
    <img id="signal" src="../images/mb-signal.png" />

</body>
</html>