<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the msgboy</title>
    <meta name="application-name" content="Msgboy"/>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/help.css" />
</head>
<body class="splash">

    <header>
        <a href="dashboard.html"><h1>msgboy</h1></a>
        <h2>Help</h2>
        <a href="options.html" class="options">Options</a><a href="help.html" class="help">Help</a>
    </header>

    <div id="info">
        <h1>How msgboy works</h1>
        <p>The msgboy figures out what you want to see on the web and presents it to you all in one place.</p>
        <p>It will show you desktop notifications that tell when msgboy thinks a relevant story has been added to your dashboard and you can vote them up or down, which the msgboy uses to learn which things you care about the most.</p>
        <p>Visit your <a href="dashboard.html">msgboy dashboard</a> to see all the stories that the msgboy gathered for you.</p>
    </div>
    
    <img id="buildings" src="../images/buildings.png" />
    <img id="clouds" src="../images/clouds.png" />
    <img id="signal" src="../images/mb-signal.png" />

</body>
</html>