<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>
            Stream
        </title>
        <meta name="application-name" content="Msgboy" />
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../css/readability.css" />
        <link rel="stylesheet" href="../css/readability-print.css" />
        <!-- Lib includes -->
        <script src="../../lib/jquery/jquery.js" type="text/javascript"></script>
        <script src="../../lib/date.extensions.js" type="text/javascript"></script>
        <script src="../../lib/underscore/underscore-min.js" type="text/javascript"></script>
        <script src="../../lib/backbone/backbone-min.js" type="text/javascript"></script>
        <script src="../../lib/backbone-indexeddb/backbone-indexeddb.js" type="text/javascript"></script>
        <script src="../../lib/readability/readability.js" type="text/javascript"></script>
        <!-- Model includes -->
        <script src="../../models/database.js" type="text/javascript"></script>
        <script src="../../models/message.js" type="text/javascript"></script>
        <script src="../../models/archive.js" type="text/javascript"></script>
        <script src="../../models/inbox.js" type="text/javascript"></script>
        <!-- Controller includes -->
        <script src="../../controllers/utils.js" type="text/javascript"></script>
    </head>
    
    <body>
        <div id="nav">
            <span class="inbox">
                Stream
            </span>
            <span class="settings">
                Options
            </span>
        </div>
        <script>
            $("#nav span.inbox").click(function() {
                window.location = chrome.extension.getURL('/views/html/inbox.html')
                return false;
            })
            $("#nav span.connections").click(function() {
                window.location = chrome.extension.getURL('/views/html/connections.html')
                return false;
            })
            $("#nav span.settings").click(function() {
                window.location = chrome.extension.getURL('/views/html/options.html')
                return false;
            })
        </script>
        <span id="loader_frame"><img src="../icons/ajax-loader.gif" id="loader" /></span>
        <div id="archive">
            <input id="filters" type="radio" name="filters" class="created_at" value="created_at" checked="checked">All Messages</input>
            <input id="filters" type="radio" name="filters" class="unread_at" value="unread_at">Unread Messages</input>
            <input id="filters" type="radio" name="filters" class="starred_at" value="starred_at">Starred Messages</input>
            <div class="title">
                <h1>
                    Stream
                </h1>
            </div>
            <input type="button" id="mark_all_as_read" value="Mark all as Read" />
            <input type="button" id="delete_all" value="Delete all" />
            <div id="content">
                <!-- Messages will be added here when loaded -->
            </div>
        </div>
        
        <!-- Templates -->
        <script type="text/template" id="message-template">
            <div id="<%= id %>" class="message<%= read_at ? ' read' : ' unread' %> <%= starred_at ? ' starred' : '' %>"> 
                <h3><%= strip(title) %></h3>
                <p>
                    <span class="time"><%= new Date(created_at).toRelativeTime() %></span> 
                    <% 
                    if (typeof(source) != "undefined" && source) { 
                    %>, from: <a href="<%= alternate || source.url %>" target="_blank"> <%= source.title %> </a> (<a class="unsubscribe" href="">Unsubscribe</a> ) 
                    <%
                    } 
                    %>
                </p>
                <div class="readable-content"> 
                    <!-- Where the content from readability will be injected -->
                </div>
                <div class="actions">
                <% 
                if(typeof actions != "undefined" && actions ) {
                    for (var name in actions) {
                        action = actions[name];
                %>
                <a href="" class="<%= name %>"><%= actions[name].name %></a> &nbsp;
                <%
                    }
                } 
                %> <a href="" class="destroy">Destroy</a>&nbsp; <a href="" class="star"><%= starred_at ? 'Unstar' : 'Star' %> </a>&nbsp;<a href="" class="unread"> <%= read_at ? 'Mark as unread' : 'Mark as read' %></a>
                <% 
                if(main_link(links) != "") {
                %>
                    &nbsp;<a href="" target="_blank" class="more">Read More</a> 
                <%
                } 
                %></div>
            </div>
        </script>
        <script>
            // Google Analytics
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-22746593-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = 'https://ssl.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();

            // Readability
            var readStyle = 'style-newspaper'; // style-newspaper, style-novel, style-ebook, style-terminal
            var readSize = 'size-small'; // size-small, size-medium, size-large, size-x-large
            var readMargin = 'margin-narrow'; // margin-narrow, margin-medium, margin-wide, margin-x-wide

            //////////////////////////////////////////////////////////////////////////////////////
            //                                Views                                           //
            //////////////////////////////////////////////////////////////////////////////////////
            var MessageView = Backbone.View.extend({
                events: {
                    "click a.more": "openViewer",
                    "click a.unsubscribe": "unsubscribeFeed",
                    "click a.destroy": "destroyMessage",
                    "click a.star": "toggleStarMessage",
                    "click a.unread": "toggleReadMessage"
                },

                initialize: function() {
                    _.bindAll(this, "render", "openViewer", "unsubscribeFeed", "destroyMessage", "toggleStarMessage", "toggleReadMessage");
                    this.model.bind('change', this.render);
                    this.model.view = this;
                    this.model.fetch();
                },

                render: function() {
                    try {
                        $(this.el).html(_.template($('#message-template').html(), this.model.toJSON()));
                    } catch (err) {
                        logger.error("Couldn't display entry (" + err + "), deleting it : " + JSON.stringify(this.model.toJSON()));
                    }
                    
                    // Also attach actions!
                    that = this;
                    for (var callback in this.model.toJSON().actions) {
                        var action = this.model.toJSON().actions[callback]
                        $(this.el).find('a.' + callback).click(function(event) {
                            this.mark_as_read()
                            this[$(event.target).attr("class")](action.params.jid);
                            return false;
                        }.bind(this));
                    }

                    // And put the readable content in place!
                    var content = null;
                    
                    if (!this.model.attributes.content || $.trim(this.model.attributes.content) == "") {
                        content = readability.grabArticleFromElement(readability.prepDocumentFromString(this.model.attributes.summary));
                    } else {
                        content = readability.grabArticleFromElement(readability.prepDocumentFromString(this.model.attributes.content));
                    }
                    content = $($(content).html());
                    
                    // Now makes sure that all srcs and hrefs are absolute!
                    $.each(content.find("img"), function(idx, img) {
                        try {
                            if(parseUri($(img).attr("src")).relative == $(img).attr("src")) {
                                abs             = parseUri(this.model.attributes.links.alternate["text/html"][0].href)
                                abs.path        = $(img).attr("src")
                                abs.file        = "";
                                abs.query       = "";
                                abs.queryKey    = {};
                                abs.relative    = $(img).attr("src");
                                $(img).attr("src", abs.toString());
                            }
                        }
                        catch(e) {
                            // Forget it.
                        }
                    }.bind(this))
                    
                    // Now makes sure all links are absolute.
                    $.each(content.find("a"), function(idx, a) {
                        try {
                            if(parseUri($(a).attr("href")).relative == $(a).attr("href")) {
                                abs             = parseUri(this.model.attributes.links.alternate["text/html"][0].href)
                                abs.path        = $(a).attr("href")
                                abs.file        = "";
                                abs.query       = "";
                                abs.queryKey    = {};
                                abs.relative    = $(a).attr("href");
                                $(a).attr("href", abs.toString());
                                $(a).attr("target", "_blank");
                            }
                        }
                        catch(e) {
                            // Forget it.
                        }
                    }.bind(this))
                    
                    
                    this.$('.readable-content').html(content);
                    _gaq.push(['_trackEvent', 'message-shown']);
                    return this;
                },

                openViewer: function() {
                    this.model.mark_as_read()
                    var link = main_link(this.model.toJSON().links);
                    if (link == "") {
                        alert("Sorry, there is no valid link for this story.")
                    } else {
                        chrome.extension.sendRequest({
                            "tab": {
                                url: link,
                                selected: false
                            }
                        }, function(response) {});
                    }
                    return false;
                },

                unsubscribeFeed: function() {
                    this.model.mark_as_read()
                    chrome.extension.sendRequest({
                        unsubscribe: this.model.toJSON().source.url
                    }, function(response) {});
                    return false;
                },

                destroyMessage: function() {
                    _gaq.push(['_trackEvent', 'message-destroyed']);
                    resp = confirm("Are you sure you want to delete this message? There is no way back.")
                    if (resp) {
                        this.model.destroy();
                        $(this.el).remove();
                        archiveView.completePage();
                    }
                    return false;
                },

                toggleStarMessage: function() {
                    this.model.toggle_starred();
                    return false;
                },

                toggleReadMessage: function() {
                    this.model.toggle_read();
                    return false;
                },

            });

            // Our overall InboxView is the top-level piece of UI.
            var ArchiveView = Backbone.View.extend({

                events: {
                    "click #delete_all": "delete_all",
                    "click #mark_all_as_read": "mark_all_as_read",
                    "change #filters": "filter"
                },

                initialize: function() {
                    this.step = 60000, // 1 minute.
                    this.current_filter = "created_at";

                    this.loading = false;
                    this.lower = 0;
                    _.bindAll(this, 'scrolled', 'showSinglePage', 'render', 'filter', 'loadMore');
                    $(document).scroll(this.scrolled) // Looks like we can't do it thru 'events' call. Is that a bug in Backbone?
                    this.render();
                },

                scrolled: function() {
                    if ($(window).scrollTop() > $(document).height() - $(window).height() - 300) {
                        // We're close to the bottom. Let's load an additional page!
                        this.loadMore();
                    }
                },

                mark_all_as_read: function() {
                    _gaq.push(['_trackEvent', 'messages-marked-all-read']);
                    $("#loader").show();
                    this.collection.mark_all_as_read({
                        start: 1,
                        step: this.step,
                        callback: function() {
                            this.filter();
                            $("#loader").hide();
                        }.bind(this),
                        epoch: inbox.attributes.epoch
                    });
                },

                delete_all: function() {
                    if (confirm("This may take a few seconds, and there is no way back. Are you sure?")) {
                        _gaq.push(['_trackEvent', 'messages-deleted-all']);
                        $("#loader").show();
                        this.collection.delete_all({
                            start: 1,
                            step: this.step,
                            callback: function() {
                                this.filter();
                                $("#loader").hide();
                            }.bind(this),
                            epoch: inbox.attributes.epoch
                        });
                    }
                },

                loadMore: function() {
                    if (new Date().getTime() - this.lower > inbox.attributes.epoch) {
                        if (!this.loading) {
                            this.loading = true
                            _gaq.push(['_trackEvent', 'messages-loaded-more']);
                            this.collection.fetch_more(this.current_filter, this.lower, this.step, function() {
                                this.loading = false
                                this.lower = this.lower + this.step;
                                _.each(this.collection, function(message, index) {
                                    this.showMessageAtBottom(this.collection.at(index));
                                }.bind(this))
                                if (this.collection.length == 0) {
                                    // We couldn't fetch any, but we're not yet at the lower limit. Looks like we don't fetch a wide enough range, so we extend it up to one hour... which is a lot!
                                    this.step = Math.max(this.step + this.step, 1000 * 60 * 60)
                                } else {
                                    // Cool, we fetched a wide enough range.
                                    this.step = 60 * 1000 // Back to 1 minute.
                                }
                                this.completePage();
                                this.scrolled(); // Let's call scrolled, just in case we're at the bottom of the page.
                            }.bind(this))
                        }
                    } else {
                        // No more to load. We want back to epoch!
                        $("#loader").hide();
                    }
                },

                showMessageOnTop: function(message) {
                    if (message.attributes[this.current_filter]) {
                        var view = new MessageView({
                            model: message
                        });
                        $("#content").prepend(view.render().el);
                    }
                },

                showMessageAtBottom: function(message) {
                    if (message.attributes[this.current_filter]) {
                        var view = new MessageView({
                            model: message
                        });
                        this.$("#content").append(view.render().el);
                    }
                },

                completePage: function() {
                    // We should also pre-emptively load more pages if the document is shorter than the page.
                    if ($("#content").height() < $(window).height()) {
                        $("#loader").show();
                        this.loadMore();
                    } else {
                        $("#loader").hide();
                    }
                },

                render: function() {
                    $('#filters.' + this.current_filter).attr('checked', 'checked')
                    this.loadMore();
                },

                filter: function() {
                    this.$(".message").hide();
                    this.current_filter = $("#filters:checked").val();
                    this.lower = 0;
                    this.loadMore();
                }
            });

            //////////////////////////////////////////////////////////////////////////////////////
            //                          Chrome Extension Handlers                               //
            //////////////////////////////////////////////////////////////////////////////////////
            // Listens to new messages coming from the background
            chrome.extension.onRequest.addListener(function(request, sender, sendResponse) {
                if (request.notify) {
                    message = new Message({
                        'id': request.notify.message
                    })
                    message.fetch({
                        success: function() {
                            archiveView.showMessageOnTop(message);
                        }
                    });
                }
            });


            var archiveView = null;
            var archive = null;
            var inbox = new Inbox({
                id: "1"
            });
            inbox.fetch({
                success: function() {
                    archive = new Archive();
                    archiveView = new ArchiveView({
                        el: "#archive",
                        collection: archive
                    });
                }
            })
        </script>
    </body>

</html>