<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Notification</title>
    <meta name="application-name" content="Msgboy"/>
    <link rel="stylesheet" href="../css/notification.css" />

    <!-- Lib includes -->
    <script src="../../lib/jquery/jquery.js" type="text/javascript"></script> 
    <script src="../../lib/underscore/underscore-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone/backbone-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone-indexeddb/backbone-indexeddb.js" type="text/javascript"></script> 

    <!-- Model includes -->
    <script src="../../models/database.js" type="text/javascript"></script> 
    <script src="../../models/message.js" type="text/javascript"></script> 

    <!-- Controller includes -->
    <script src="../../controllers/utils.js" type="text/javascript"></script> 

</head>
<body>
    <div id="message">
        <div id="votes">
            <img src="../icons/up.png" class="thumbs" id="vote-up" />
            <img src="../icons/down.png" class="thumbs" id="vote-down" />
        </div>
		<h2></h2>
		<p></p>
    </div>

    <script>

	//////////////////////////////////////////////////////////////////////////////////////
	//                                Hide Timer                                        //
	//////////////////////////////////////////////////////////////////////////////////////
	var started = false;
	var messages = [];

	//////////////////////////////////////////////////////////////////////////////////////
	//                                Views                                           //
	//////////////////////////////////////////////////////////////////////////////////////
	var MessageView = Backbone.View.extend({
	    
	    events: {
	        "click #vote-up": "up",
	        "click #vote-down": "down"
        },
        
	    initialize: function () {
	        _.bindAll(this, "render", "up", "down");
	    },

	    render: function () {
	        json = this.model.toJSON();
			this.$('h2').html(json.title)
            html = "";
			if (json.source) {
				html += "<span>" + json.source.title + "</span>&nbsp—&nbsp" + truncate(strip(json.summary), 128)
            } else {
				html += truncate(strip(json.summary), 128)
            }
			if(json.via) {
				html += "via <span>" + json.via + "</span>."
			}
	        this.$("p").html(html);
	    },
	    
	    // Message was voted up
		up: function() {
		    showNextMessage();
		    chrome.extension.sendRequest({
		        "tab": {
		            url: this.model.attributes.links.alternate["text/html"][0].href,
		            selected: true
		        }
		    }, function (response) {});
		},
		
		// Message was voted down
		down: function() {
		    showNextMessage();
		},
		
		// Message was skipped	
		skipped: function() {
		    
		}
		
	});

	//////////////////////////////////////////////////////////////////////////////////////
	//                                  Functions                                       //
	//////////////////////////////////////////////////////////////////////////////////////
	function showNextMessage() {
		messageId = messages.pop();
		if(!messageId) {
		    chrome.extension.sendRequest({
                close: true
            }, function (response) {
                window.close();
            });
		}
		else {
			message = new Message({
				'id': messageId
			})
			message.fetch({
				success: function() {
					view.model = message;
					view.render();
					window.focus(); // Put this alert in front!
                    window.setTimeout( function() {  
                        view.skipped();
                        showNextMessage() // After K seconds, show the next message.
                    }, 8000);
				},
			});
		}
	}

	//////////////////////////////////////////////////////////////////////////////////////
	//                          Chrome Extension Handlers                               //
	//////////////////////////////////////////////////////////////////////////////////////
	$(document).ready(function () {
	    chrome.extension.onRequest.addListener(function (request, sender, sendResponse) {
	        if (request.notify && request.notify.message) {
				messages.push(request.notify.message);
				if(!started) {
					started = true // Initiate the loop.
					showNextMessage();
				}
	        }
	    });
	});

	//////////////////////////////////////////////////////////////////////////////////////
	//                                Main                                              //
	//////////////////////////////////////////////////////////////////////////////////////
	var view = new MessageView({
	    el: "#message"
	});
	
    </script>
</body>