<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Notification</title>
    <meta name="application-name" content="Msgboy"/>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/notification.css" />

    <!-- Lib includes -->
    <script src="../../lib/jquery/jquery.js" type="text/javascript"></script> 
    <script src="../../lib/underscore/underscore-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone/backbone-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone-indexeddb/backbone-indexeddb.js" type="text/javascript"></script> 

    <!-- Model includes -->
    <script src="../../models/database.js" type="text/javascript"></script> 
    <script src="../../models/message.js" type="text/javascript"></script> 
    <script src="../../models/archive.js" type="text/javascript"></script> 

    <!-- Controller includes -->
    <script src="../../controllers/utils.js" type="text/javascript"></script> 

    <!-- Views includes -->
    <script src="../../views/js/message-view.js" type="text/javascript"></script>

</head>
<body>

    <script>
    var view    = null;
    var started = false;
    var messages = [];
    var mouse_in = false;

    function goToMessage(model) {
        chrome.extension.sendRequest({
            "tab": {
                url: model.main_link(),
                selected: true
            }
        });
    };

    function showNextMessage() {
        var message = messages.pop();
        if (!message) {
            chrome.extension.sendRequest({
                close: true
            }, function (response) {
                window.close();
            });
        } else {
            window.focus(); // Put this alert in front!
            view = new MessageView({
                model: message
            });
            
            message.bind("up-ed", function() {
                view.remove();
                goToMessage(message);
                showNextMessage();
            });
            
            message.bind("down-ed", function() {
                view.remove();
                showNextMessage();
            });
            
            view.bind("rendered", function () {
                $(view.el).appendTo($("body"));
            });
            
            view.render(); // builds the HTML
        }
    }
    
    function rotate() {
        setTimeout(function() {
            if(!mouse_in) {
                if(view) {
                    view.remove();
                }
                showNextMessage();
            }
            rotate();
        }, 8000);
    }
    
    $("body").mouseover(function() {
        mouse_in = true;
    });
    
    $("body").mouseout(function() {
        mouse_in = false;
    });

    $(document).ready(function () {
        chrome.extension.onRequest.addListener(function (request, sender, sendResponse) {
            if (request.notify && request.notify.message) {
                var message = new Message({
                    'id': request.notify.message
                });
                message.fetch({
                    success: function() {
                        messages.push(message);
                        if (!started) {
                            started = true // Initiate the loop.
                            showNextMessage();
                        }
                    }
                });
            }
        });
    });
    
    rotate();
    
    </script>
</body>