<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Notification</title>
    <meta name="application-name" content="Msgboy"/>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/notification.css" />

    <!-- Lib includes -->
    <script src="../../lib/jquery/jquery.js" type="text/javascript"></script> 
    <script src="../../lib/underscore/underscore-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone/backbone-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone-indexeddb/backbone-indexeddb.js" type="text/javascript"></script> 

    <!-- Model includes -->
    <script src="../../models/database.js" type="text/javascript"></script> 
    <script src="../../models/message.js" type="text/javascript"></script> 
    <script src="../../models/archive.js" type="text/javascript"></script> 

    <!-- Controller includes -->
    <script src="../../controllers/utils.js" type="text/javascript"></script> 

    <!-- Views includes -->
    <script src="../../views/js/message-view.js" type="text/javascript"></script>

</head>
<body>

    <script>

	//////////////////////////////////////////////////////////////////////////////////////
	//                                Hide Timer                                        //
	//////////////////////////////////////////////////////////////////////////////////////
	var started = false;
	var messages = [];

	//////////////////////////////////////////////////////////////////////////////////////
	//                                  Functions                                       //
	//////////////////////////////////////////////////////////////////////////////////////
	function showNextMessage() {
		var messageId = messages.pop();
		if(!messageId) {
		    chrome.extension.sendRequest({
                close: true
            }, function (response) {
                window.close();
            });
		}
		else {
			var message = new Message({
				'id': messageId
			})
			message.fetch({
				success: function() {
					window.focus(); // Put this alert in front!
                    var view = new MessageView({
                        model: message
                    });
                    view.bind("rendered", function() {
                        $(view.el).appendTo($("body"));
                        $(view.el).show();
                    });
                    $(view.el).hide();
                    view.render(); // builds the HTML
                    
				},
			});
		}
	}
	
	//////////////////////////////////////////////////////////////////////////////////////
	//                          Chrome Extension Handlers                               //
	//////////////////////////////////////////////////////////////////////////////////////
	$(document).ready(function () {
	    chrome.extension.onRequest.addListener(function (request, sender, sendResponse) {
	        if (request.notify && request.notify.message) {
				messages.push(request.notify.message);
				if(!started) {
					started = true // Initiate the loop.
					showNextMessage();
				}
	        }
	    });
	});
	
    </script>
</body>