<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Options</title>
    <meta name="application-name" content="Msgboy"/>
    <link rel="stylesheet" href="../css/style.css" />

    <!-- Lib includes -->
    <script src="../../lib/jquery/jquery.js" type="text/javascript"></script> 
    <script src="../../lib/underscore/underscore-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone/backbone-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone-indexeddb/backbone-indexeddb.js" type="text/javascript"></script> 

    <!-- Model includes -->
    <script src="../../models/database.js" type="text/javascript"></script> 
    <script src="../../models/message.js" type="text/javascript"></script> 
    <script src="../../models/archive.js" type="text/javascript"></script> 
    <script src="../../models/inbox.js" type="text/javascript"></script> 

    <!-- Controller includes -->
    <script src="../../controllers/utils.js" type="text/javascript"></script> 

</head>

<body>

    <div id="nav">
        <span class="inbox">Stream</span>
        <span class="settings">Options</span>
    </div>
    
    <script>
    $("#nav span.inbox").click(function() {
        window.location = chrome.extension.getURL('/views/html/inbox.html')
        return false;
    })
    $("#nav span.settings").click(function() {
        window.location = chrome.extension.getURL('/views/html/options.html')
        return false;
    })
    </script>

    <div id="settings">
		<p id="connectionStatus"></p>
	
		<form id="credentials">
			<input type="submit" value="Connect!" />
		</form>
		
		<div id="options" style="display:none">
			<h1>Options</h1>
	        <span class="option" >
		        <input type="checkbox" name="hide-bookmark" id="hide-bookmark" /> Hide Bookmark (<small><em>Shortcuts</em> : <code>$$f</code> for follow, <code>$$i</code> for inbox, <code>$$x</code> for settings, <code>$$o</code> to open the current notification</small>)
		    </span>
		    
		</div>
        <span id="saved">Saved</span>
<!--
		<input id="reset" type="button" value="Reset" />
-->
    </div>
    
    <script type="text/template" id="plugin-template">
    <span class="plugin" >
        <input type="checkbox" name="<%= name %>" id="<%= nameToId(name) %>" /> <%= name %>
    </span>
    </script>
    
    <script>

	$("#signup").click(function() {
		window.location = chrome.extension.getURL('/views/html/signup.html');
        return false;
	})

	// Google Analytics
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-22746593-1']);
	_gaq.push(['_trackPageview']);

	(function () {
	    var ga = document.createElement('script');
	    ga.type = 'text/javascript';
	    ga.async = true;
	    ga.src = 'https://ssl.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(ga, s);
	})();

	//////////////////////////////////////////////////////////////////////////////////////
	//                          Chrome Extension Handlers                               //
	//////////////////////////////////////////////////////////////////////////////////////
	chrome.extension.connect({
	    name: "connection"
	}).onMessage.addListener(function (msg) {
	    $('#connectionStatus').text(msg);
	    if (msg == "Msgboy is connected.") {
	        $("#signup").hide();
	        $("#options").show();
	        $("#credentials").hide();
	    } else {
	        $("#options").hide();
	        $("#credentials").show();
	    }
	});

	//////////////////////////////////////////////////////////////////////////////////////
	//                                Views                                           //
	//////////////////////////////////////////////////////////////////////////////////////
	var InboxView = Backbone.View.extend({
	    events: {
	        "change #settings #jid": "jid",
	        "change #settings #password": "password",
	        "change #options .option": "update_option",
	        "submit #credentials": "reconnect",
	        "click #settings #reset": "reset"
	    },

	    initialize: function () {
	        _.bindAll(this, 'render', 'update_option', 'jid', 'password', 'reconnect', 'reset');
	        this.render();
	    },

	    render: function () {
	        chrome.extension.sendRequest({
	            "settings": {
	                "get": ["jid"]
	            }
	        }, function (response) {
	            $("#jid").val(response.value);
	        });
	        chrome.extension.sendRequest({
	            "settings": {
	                "get": ["password"]
	            }
	        }, function (response) {
	            $("#password").val(response.value);
	        });
	        chrome.extension.sendRequest({
	            "settings": {
	                "get": ["hide-bookmark"]
	            }
	        }, function (response) {
	            $("#hide-bookmark").attr('checked', response.value);
	        });

	    },

	    // Fine. What now? We saved the login. We need to save the jid too. As it's used to retrieve the inbox object too!
	    // We must make sure the user used their login, not their email @.
	    jid: function () {
	        val = this.$("#jid").val();
	        emailRegEx = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i;
	        if (val.search(emailRegEx) == -1) {
	            chrome.extension.sendRequest({
	                "settings": {
	                    "set": ["jid", this.$("#jid").val()]
	                }
	            }, function (response) {});
	        } else {
	            alert("Please make sure you use your msgboy login, and not your email address.");
	            this.$("#jid").val("");
	            this.$("#jid").focus();
	        }
	    },

	    password: function () {
	        chrome.extension.sendRequest({
	            "settings": {
	                "set": ["password", this.$("#password").val()]
	            }
	        }, function (response) {});
	    },

	    reconnect: function () {
			chrome.extension.sendRequest({
				connect: true
			}, function (response) {});
		},

	    reset: function () {
	        if (confirm("Are you sure? There is no way back and all your data will be deleted!")) {
	            chrome.extension.sendRequest({
	                reset: true
	            }, function (response) {
	                this.$("#jid").val("");
	                this.$("#password").val("");
	                window.close();
	            });
	        }
	    },
	
		update_option: function(el) {
			chrome.extension.sendRequest({
				"settings": {
					"set": [el.target.id, $(el.target).is(':checked')]
				}
			}, function (response) {});
		}
	
	});

	//////////////////////////////////////////////////////////////////////////////////////
	//                                Main                                              //
	//////////////////////////////////////////////////////////////////////////////////////
	var inboxView = new InboxView({
	    el: "#settings"
	});

	</script>
</body>
</html>