<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Inbox</title>
    <meta name="application-name" content="Msgboy"/>
    <meta name="description" content="__MSG_app_description__"/>
    <link rel="shortcut icon" href="http://superfeedr.com/favicon.ico">
    <link rel="stylesheet" href="../css/style.css" />

    <!-- Lib includes -->
    <script src="../../lib/jquery/jquery.js" type="text/javascript"></script> 
    <script src="../../lib/underscore/underscore-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone/backbone-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone-indexeddb/backbone-indexeddb.js" type="text/javascript"></script> 

    <!-- Model includes -->
    <script src="../../models/database.js" type="text/javascript"></script> 
    <script src="../../models/message.js" type="text/javascript"></script> 
    <script src="../../models/archive.js" type="text/javascript"></script> 
    <script src="../../models/inbox.js" type="text/javascript"></script> 

    <!-- Controller includes -->
    <script src="../../controllers/utils.js" type="text/javascript"></script> 
    <script src="../../controllers/site_plugins.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/digg.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/disqus.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/github-repos.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/github-users.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/google-reader.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/tumblr.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/posterous.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/statusnet.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/typepad.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/quora-people.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/quora-topics.js" type="text/javascript"></script> 

</head>

<body>

    <div id="nav">
        <span class="inbox">Inbox</span>
        <span class="connections">Connections</span>
        <span class="settings">Settings</span>
    </div>
    
    <script>
    $("#nav span.inbox").click(function() {
        window.location = chrome.extension.getURL('/views/html/inbox.html')
        return false;
    })
    $("#nav span.connections").click(function() {
        window.location = chrome.extension.getURL('/views/html/connections.html')
        return false;
    })
    $("#nav span.settings").click(function() {
        window.location = chrome.extension.getURL('/views/html/options.html')
        return false;
    })
    </script>

    <div id="settings">
		<span id="signup">Please <a href="http://msgboy.com/" target="_blank">sign up</a> first if you don't have an account just yet.</span>
        <h2>Account</h2>
        Login : <input type="text" id="jid"><br />
        Password : <input type="Password" id="password"><br />
		<input id="reconnect" type="button" value="Connect!" />
		<p id="connectionStatus"></p>
        <div id="plugins" style="display:none">
	        <h2>Plugins</h2>
			<p>We're loading the services that you seem to be using the most often, so you can import subscriptions you've made there. The msgboy will keep them sync'ed for you if you check their boxes!</p>
			<div class="active"></div>
			<h3>Others</h3>
			<small>Looks like we couldn't verify that you use these services, please make sure you're logged in on them before activating them.</small>
			<div class="passive"></div>
        </div>
        <span id="saved">Saved</span>
		<input id="reset" type="button" value="Reset" />
    </div>
    
    <script type="text/template" id="plugin-template">
    <span class="plugin" >
        <input type="checkbox" name="<%= name %>" id="<%= nameToId(name) %>" /> <%= name %>
    </span>
    </script>
    
    <script>

	// Google Analytics
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-22746593-1']);
	_gaq.push(['_trackPageview']);

	(function () {
	    var ga = document.createElement('script');
	    ga.type = 'text/javascript';
	    ga.async = true;
	    ga.src = 'https://ssl.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(ga, s);
	})();

	//////////////////////////////////////////////////////////////////////////////////////
	//                          Chrome Extension Handlers                               //
	//////////////////////////////////////////////////////////////////////////////////////
	chrome.extension.connect({
	    name: "connection"
	}).onMessage.addListener(function (msg) {
	    $('#connectionStatus').text(msg);
	    if (msg == "Msgboy is connected.") {
	        // Good, we can show the plugins.
	        $("#plugins").show();
	        $("#signup").hide();
	    } else {
	        // Bad, we can't show the plugins... but let's allow the user to reconnect!
	        $("#plugins").hide();
	    }
	});

	//////////////////////////////////////////////////////////////////////////////////////
	//                                Views                                           //
	//////////////////////////////////////////////////////////////////////////////////////
	var InboxView = Backbone.View.extend({
	    events: {
	        "change #settings #jid": "jid",
	        "change #settings #password": "password",
	        "click #settings #reconnect": "reconnect",
	        "click #settings #reset": "reset"
	    },

	    initialize: function () {
	        _.bindAll(this, 'render');
	        this.render();
	    },

	    render: function () {
	        chrome.extension.sendRequest({
	            "settings": {
	                "get": ["jid"]
	            }
	        }, function (response) {
	            $("#jid").val(response.value);
	        });
	        chrome.extension.sendRequest({
	            "settings": {
	                "get": ["password"]
	            }
	        }, function (response) {
	            $("#password").val(response.value);
	        });

	    },

	    // Fine. What now? We saved the login. We need to save the jid too. As it's used to retrieve the inbox object too!
	    // We must make sure the user used their login, not their email @.
	    jid: function () {
	        val = this.$("#jid").val();
	        emailRegEx = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i;
	        if (val.search(emailRegEx) == -1) {
	            chrome.extension.sendRequest({
	                "settings": {
	                    "set": ["jid", this.$("#jid").val()]
	                }
	            }, function (response) {});
	        } else {
	            alert("Please make sure you use your msgboy login, and not your email address.");
	            this.$("#jid").val("");
	            this.$("#jid").focus();
	        }
	    },

	    password: function () {
	        chrome.extension.sendRequest({
	            "settings": {
	                "set": ["password", this.$("#password").val()]
	            }
	        }, function (response) {});
	    },

	    reconnect: function () {
	        chrome.extension.sendRequest({
	            connect: true
	        }, function (response) {});
	    },

	    reset: function () {
	        if (confirm("Are you sure? There is no way back and all your data will be deleted!")) {
	            chrome.extension.sendRequest({
	                reset: true
	            }, function (response) {
	                this.$("#jid").val("");
	                this.$("#password").val("");
	                window.close();
	            });
	        }
	    }
	});

	var PluginView = Backbone.View.extend({
	    initialize: function () {
	        _.each(Plugins.all, function (plugin) {
				plugin.isUsing(function(using) {
					element = $(_.template($('#plugin-template').html(), plugin))
					chrome.extension.sendRequest({
						"settings": {
							"get": ["plugins." + nameToId(plugin.name)]
						}
					}, function (response) {
						$("#" + nameToId(plugin.name)).attr('checked', response.value);
					});
					element.change(function () {
						if ($(this).find("input").is(':checked')) {
							// When clicked. We should just import the feeds in the back!
							chrome.extension.sendRequest({
								"settings": {
									"set": ["plugins." + nameToId(plugin.name), true]
								}
							}, function (response) {});
							_gaq.push(['_trackEvent', 'plugin-import-' + nameToId(plugin.name)]);
							plugin.importSubscriptions();
						} else {
							_gaq.push(['_trackEvent', 'plugin-stop-import-' + nameToId(plugin.name)]);
							chrome.extension.sendRequest({
								"settings": {
									"set": ["plugins." + nameToId(plugin.name), false]
								}
							}, function (response) {});
						}
					})
					if(using) {
						$("#plugins .active").append(element);
					} else {
						$("#plugins .passive").append(element);
					}
				})
			});
	    }
	})

	//////////////////////////////////////////////////////////////////////////////////////
	//                                Main                                              //
	//////////////////////////////////////////////////////////////////////////////////////
	var pluginView = new PluginView({
	    el: "#plugins"
	});
	var inboxView = new InboxView({
	    el: "#settings"
	});

	</script>
</body>
</html>