<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Suggested Follows</title>
    <meta name="application-name" content="Msgboy"/>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/plugins.css" />

    <!-- Lib includes -->
    <script src="../../lib/jquery/jquery.js" type="text/javascript"></script> 
    <script src="../../lib/date.extensions.js" type="text/javascript"></script> 
    <script src="../../lib/underscore/underscore-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone/backbone-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone-indexeddb/backbone-indexeddb.js" type="text/javascript"></script> 

    <!-- Model includes -->
    <script src="../../models/database.js" type="text/javascript"></script> 
    <script src="../../models/message.js" type="text/javascript"></script> 
    <script src="../../models/archive.js" type="text/javascript"></script> 
    <script src="../../models/inbox.js" type="text/javascript"></script> 

    <!-- Controller includes -->
    <script src="../../controllers/utils.js" type="text/javascript"></script> 
    <script src="../../controllers/site_plugins.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/digg.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/disqus.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/github-repos.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/github-users.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/google-reader.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/tumblr.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/posterous.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/statusnet.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/typepad.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/quora-people.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/quora-topics.js" type="text/javascript"></script> 

</head>
<body>
    
    <div id="plugins">
        <h1>Getting Started</h1>
        <div id="progress-bar">
            <div class="step">1. Register</div>
            <div class="bar">&nbsp;</div>
            <div class="step selected">2. Suggested Follows</div>
            <div class="bar">&nbsp;</div>
            <div class="step">3. Enjoy</div>
        </div>
        <div style="clear:both; margin-bottom: 20px">&nbsp;</div>
    
        <p>Based on your recent browsing history, we are able to suggest that you follow these : </p>
        
            <div id="done"><a href="">Done, get started!</a></div>
    </div>
    

    <script type="text/template" id="plugin-template">
    
    <span class="plugin" >
        <input type="checkbox" name="<%= name %>" id="<%= nameToId(name) %>" /> <%= name %>
    </span>
    </script>

    <script>
    var PluginView = Backbone.View.extend({
        initialize: function () {
            _.each(Plugins.all, function (plugin) {
                try {
                    plugin.isUsing(function (using) {
                        element = $(_.template($('#plugin-template').html(), plugin))
                        chrome.extension.sendRequest({
                            "settings": {
                                "get": ["plugin-" + nameToId(plugin.name)]
                            }
                        }, function (response) {
                            $("#" + nameToId(plugin.name)).attr('checked', response.value);
                        });
                        element.change(function () {
                            if ($(this).find("input").is(':checked')) {
                                // When clicked. We should just import the feeds in the back!
                                chrome.extension.sendRequest({
                                    "settings": {
                                        "set": ["plugin-" + nameToId(plugin.name), true]
                                    }
                                }, function (response) {});
                                plugin.importSubscriptions();
                            } else {
                                chrome.extension.sendRequest({
                                    "settings": {
                                        "set": ["plugin-" + nameToId(plugin.name), false]
                                    }
                                }, function (response) {});
                            }
                        })
                        if (using) {
                            $("#plugins .active").append(element);
                        } else {
                            $("#plugins .passive").append(element);
                        }
                    })
                }
                catch(e) {
                    logger.error("Couldn't load plugin " + plugin.name + " - " + e);
                }
            });
        }
    })

    //////////////////////////////////////////////////////////////////////////////////////
    //                                Main                                              //
    //////////////////////////////////////////////////////////////////////////////////////
    var pluginView = new PluginView({
        el: "#plugins"
    });
    
    $("#done").click(function() {
		window.location = chrome.extension.getURL('/views/html/done.html');
        return false;
	})
	
    
    </script>

</body>
</html>
