<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Suggested Follows</title>
    <meta name="application-name" content="Msgboy"/>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/plugins.css" />

    <!-- Lib includes -->
    <script src="../../lib/jquery/jquery.js" type="text/javascript"></script> 
    <script src="../../lib/date.extensions.js" type="text/javascript"></script> 
    <script src="../../lib/underscore/underscore-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone/backbone-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone-indexeddb/backbone-indexeddb.js" type="text/javascript"></script> 

    <!-- Model includes -->
    <script src="../../models/database.js" type="text/javascript"></script> 
    <script src="../../models/message.js" type="text/javascript"></script> 
    <script src="../../models/archive.js" type="text/javascript"></script> 
    <script src="../../models/inbox.js" type="text/javascript"></script> 

    <!-- Controller includes -->
    <script src="../../controllers/utils.js" type="text/javascript"></script> 
    <script src="../../controllers/site_plugins.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/digg.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/disqus.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/github-repos.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/github-users.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/google-reader.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/tumblr.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/posterous.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/statusnet.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/typepad.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/quora-people.js" type="text/javascript"></script> 
    <script src="../../controllers/plugins/quora-topics.js" type="text/javascript"></script> 

</head>
<body>
    
    <div id="plugins">
        <h1>Getting Started</h1>
        <div id="progress-bar">
            <div class="step">1. Register</div>
            <div class="bar">&nbsp;</div>
            <div class="step selected">2. Suggested Follows</div>
            <div class="bar">&nbsp;</div>
            <div class="step">3. Enjoy</div>
        </div>
        <div style="clear:both; margin-bottom: 20px">&nbsp;</div>
    
        <p>Based on your recent browsing history, we are able to suggest that you follow these : </p>

        <ul id="suggestions">
        </ul>        
        <div id="done"><a href="">Done, get started!</a></div>
    </div>

    <script>
    
    // One single suggestion view
    var SuggestionView = Backbone.View.extend({
        events: {
            "change .checkbox": "checked",
        },
          
        tagName: "li",
        className: "suggestion",
        
        initialize: function() {
            
        },
        
        checked: function(ev) {
            // Let's disable the button.
            this.$("input").attr('disabled', true);
            chrome.extension.sendRequest({
                subscribe: {
                    url: this.model.href,
                    title: this.model.title
                }
            }, function(response) {
                this.$("input").attr('disabled', false);
                // Let's re-enable the button
            }.bind(this));
        },
        
        render: function() {
            $(this.el).html("<input type='checkbox' class='checkbox' />" + this.model.title + "");
        }
    });
    
    // One single plugin view
    var PluginView = Backbone.View.extend({
        events: {
            "change .global_checkbox": "checked",
            "click .title": "toggle"
        },
        
        tagName: "li",
        className: "service",
        
        toggle: function() {
            this.$("ul").toggle();
            if(this.$("ul").is(":visible")) {
                this.$("span.title").css("background", "url('../icons/triangle-open.png') no-repeat left center");
            } 
            else {
                this.$("span.title").css("background", "url('../icons/triangle-closed.png') no-repeat left center");
            }
            
        },
        
        initialize: function () {
            // Do stuff?
        },
        
        checked: function() {
            _.each(this.$("li input.checkbox"), function(checkbox) {
                $(checkbox).attr('checked',!$(checkbox).attr('checked'));
                $(checkbox).change();
            });
        },
        
        render: function() {
            this.model.listSubscriptions(function(subscriptions) {
                if(subscriptions.length > 0) {
                    $(this.el).show();
                    // We do have subscriptions, let's add a li element to the list of suggested.
                    var service = $("#suggestions #" + nameToId(this.model.name) + "")[0];
                    $(this.el).attr("id", nameToId(this.model.name));
                    $(this.el).html("<span class='title'> <input type='checkbox' class='global_checkbox' /> " + this.model.name + "</span><ul></ul>");
                    _.each(subscriptions, function(subscription) {
                        var view = new SuggestionView({model: subscription});
                        view.render();
                        this.$("ul").append(view.el);
                    }.bind(this));
                }
            }.bind(this));
        }
    });
    
    // All the plugins in one view
    var PluginsView = Backbone.View.extend({
        
        initialize: function () {
            _.each(Plugins.all, function (plugin) {
                try {
                    plugin.isUsing(function (using) {
                        if(using) {
                            var view = new PluginView({model: plugin});
                            view.render();
                            $(this.el).append(view.el);
                            $(view.el).hide();
                        }
                    }.bind(this));
                }
                catch(e) {
                    logger.error("Couldn't load plugin " + plugin.name + " - " + e);
                }
            }.bind(this));
        }
    })

    //////////////////////////////////////////////////////////////////////////////////////
    //                                Main                                              //
    //////////////////////////////////////////////////////////////////////////////////////
    var pluginsView = new PluginsView({
        el: "#suggestions"
    });
    
    $("#done").click(function() {
		window.location = chrome.extension.getURL('/views/html/done.html');
        return false;
	})
	
    
    </script>

</body>
</html>
