<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="application-name" content="Msgboy"/>
    <link rel="shortcut icon" href="http://superfeedr.com/favicon.ico">
    <link rel="stylesheet" href="../css/readability.css" />
    <link rel="stylesheet" href="../css/readability-print.css" />

    <!-- Lib includes -->
    <script src="../../lib/jquery/jquery.js" type="text/javascript"></script> 
    <script src="../../lib/date.extensions.js" type="text/javascript"></script> 
    <script src="../../lib/underscore/underscore-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone/backbone-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone-indexeddb/backbone-indexeddb.js" type="text/javascript"></script> 
    <script src="../../lib/readability/readability.js" type="text/javascript"></script> 

    <!-- Model includes -->
    <script src="../../models/database.js" type="text/javascript"></script> 
    <script src="../../models/message.js" type="text/javascript"></script> 

    <!-- Controller includes -->
    <script src="../../controllers/utils.js" type="text/javascript"></script> 
</head>
<body>

	<h1></h1>
    <div id="wrapper">
	    
    </div>

    <script>

	function getUrlVars() { // Read a page's GET URL variables and return them as an associative array.
	    var vars = [],
	        hash;
	    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
	    for (var i = 0; i < hashes.length; i++) {
	        hash = hashes[i].split('=');
	        vars.push(hash[0]);
	        vars[hash[0]] = hash[1];
	    }
	    return vars;
	}
	//////////////////////////////////////////////////////////////////////////////////////
	//                                Views                                           //
	//////////////////////////////////////////////////////////////////////////////////////
	var MessageView = Backbone.View.extend({

	    initialize: function () {
	        this.model.view = this;
	        this.model.fetch({
				success: function(model) {
					this.model = model
					this.render();
				}.bind(this)
			});
	    },

	    render: function () {
			if(!this.model.attributes.content || $.trim(this.model.attributes.content) == "") {
				$("#wrapper").html(readability.grabArticleFromElement(readability.prepDocumentFromString(this.model.attributes.summary), true));
				
			} else {
				$("#wrapper").html(readability.grabArticleFromElement(readability.prepDocumentFromString(this.model.attributes.content), true));
			}
			$("h1").html(this.model.attributes.title)
			document.title = this.model.attributes.title
			// readability.init(true); // We want preserveUnlikelyCandidates
			
	        return this;
	    }
	
	});

	var readStyle = 'style-newspaper'; // style-newspaper, style-novel, style-ebook, style-terminal
    var readSize = 'size-small'; // size-small, size-medium, size-large, size-x-large
    var readMargin = 'margin-narrow'; // margin-narrow, margin-medium, margin-wide, margin-x-wide
	
	var messageId = getUrlVars().message;
	var message = new Message({id: messageId});
	var view = new MessageView({
		model: message
	});
	
	</script>
</body>
</html>


