<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Msgboy Options</title>
    <meta name="application-name" content="Msgboy"/>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/help.css" />
    
    <!-- Lib includes -->
    <script src="../../lib/jquery/jquery.js" type="text/javascript"></script> 
    <script src="../../lib/showdown.js" type="text/javascript"></script> 

    

</head>
<body class="splash">
    
    <header>
        <a href="http://msgboy.com"><h1>msgboy</h1></a>
        <h2>README</h2>
    </header>
    
    <div id="info">
        <div id="readme">
            
        </div>
    </div>
    
    <img id="buildings" src="../images/buildings.png" />
    <img id="clouds" src="../images/clouds.png" />
    <img id="signal" src="../images/mb-signal.png" />
    
    <script>
    $.get("../../README.markdown", function(data) {
        converter = new Showdown.converter();
        $("#readme").html(converter.makeHtml(data));
        
    });
    
    </script>
    
</body>
</html>
