<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Signing up</title>
    <meta name="application-name" content="Msgboy"/>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/signup.css" />

    <!-- Lib includes -->
    <script src="../../lib/jquery/jquery.js" type="text/javascript"></script> 
    <script src="../../lib/date.extensions.js" type="text/javascript"></script> 
    <script src="../../lib/underscore/underscore-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone/backbone-min.js" type="text/javascript"></script> 
    <script src="../../lib/backbone-indexeddb/backbone-indexeddb.js" type="text/javascript"></script> 

    <!-- Model includes -->
    <script src="../../models/database.js" type="text/javascript"></script> 
    <script src="../../models/message.js" type="text/javascript"></script> 
    <script src="../../models/archive.js" type="text/javascript"></script> 
    <script src="../../models/inbox.js" type="text/javascript"></script> 

    <!-- Controller includes -->
    <script src="../../controllers/utils.js" type="text/javascript"></script> 
</head>
<body>
    
    <div id="register">
        <h1>Getting Started</h1>
        <div id="progress-bar">
            <div class="step selected">1. Register</div>
            <div class="bar">&nbsp;</div>
            <div class="step">2. Suggested Follows</div>
            <div class="bar">&nbsp;</div>
            <div class="step">3. Enjoy</div>
        </div>
        <div style="clear:both; margin-bottom: 20px">&nbsp;</div>

        <form accept-charset="UTF-8" id="new_user">
            <table>
                <tr><td><label for="user_username">Username</label></td><td><input id="user_username" name="user[username]" size="30" type="text" /></td></tr>
                <tr><td><label for="user_email">Email</label></td><td><input id="user_email" name="user[email]" size="30" type="text" /> </td></tr>
                <tr><td><label for="user_password">Password</label></td><td><input id="user_password" name="user[password]" size="30" type="password" value="" /> </td></tr>
                <tr><td><label for="user_password_confirmation">Confirm password</label></td><td><input id="user_password_confirmation" name="user[password_confirmation]" size="30" type="password" /></td></tr>
                <tr><td><a href="login.html">I already have an account</a></td><td><input class="submit" id="user_submit" name="commit" type="submit" value="Create your account" /><small><em>By signing up you agree to our Terms of Service and Privacy Policy.</em></small>
                </td></tr>
            </table>

        </form>
        <p id="connectionStatus"></p>
    </div>


    <script>
    var base = "http://msgboy.com"

    var NewUserFormView = Backbone.View.extend({
        events: {
            "submit": "create",
        },

        initialize: function() {
            _.bindAll(this, "render");
        },

        render: function() {
            $("#user_submit").attr('disabled', '');
            
            $("#new_user table input").css("border", "");
            $("#new_user table td small.error").remove();
            for(var i in this.model) {
                if(i== "errors") {
                    _.each(this.model[i], function(error, field) {
                        if(field == "base") {
                            // What do we do?
                        } else {
                            if(error instanceof Array) {
                                var err = "";
                                _.each(error, function(e) {
                                    err += " and " + e;
                                });
                                $("#user_"+field).css("border", "3px solid rgba(255, 102,102,0.5)");
                                $($("#user_"+field).parent()).prepend("<small class='error'>" + field + " " + err + "&nbsp;</small>");
                            }
                            else {
                                $("#user_"+field).css("border", "3px solid rgba(255, 102,102,0.5)");
                                $($("#user_"+field).parent()).prepend("<small class='error'>" + field + " " + error + "&nbsp;</small>");
                            }
                        }
                    })
                } else {
                    $("#user_"+i).val(this.model[i])
                }
            }
        },

        create: function() {
            var params = {}
            _.each($("#new_user input"), function(input) {
                params[$(input).attr("name")] = $(input).val();
            });

            $("#user_submit").attr('disabled', 'disabled');
            $.post( base + "/users.json", params, function(data) {
                this.model = data.user;
                var success = true
                _.each(this.model.errors, function(error, field) {
                    success = false
                });
                if(success) {
                    // We need to save the username and password!
                    chrome.extension.sendRequest({
                        "settings": {
                            "set": ["jid", this.model.username]
                        }
                    }, function (response) {
                        chrome.extension.sendRequest({
                            "settings": {
                                "set": ["password", $("#user_password").val()]
                            }
                        }, function (response) {
                            // Now we need to tell the msgboy to connect and then redirect to options!
                            chrome.extension.sendRequest({
                                connect: true
                            }, function (response) {
                                // Now let's see what the connection status is!
                                chrome.extension.connect({
                                    name: "connection"
                                }).onMessage.addListener(function (msg) {
                                    if (msg == "Msgboy is connected.") {
                                        // Cool, we're connected...
                                        window.location = chrome.extension.getURL('/views/html/plugins.html') // We redirect the user to the plugins!
                                    } else {
                                        // We should show this to the user!
                                        $('#connectionStatus').text(msg);
                                    }
                                });
                            }.bind(this));
                        }.bind(this));
                    }.bind(this)); 
                }
                else {
                    $("#error_explanation").show();
                    this.render();
                }
            }.bind(this));
            return false
        }
    });

    var view = new NewUserFormView({
        el: "#new_user"
    });

    $(document).ready(function() {
        var url = base + "/users/new.json";
        $.getJSON(url, function(data) {
            view.model = data.user;
            view.render();
        });
    });
    </script>


</body>
</html>
