<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the msgboy</title>
    <meta name="application-name" content="Msgboy"/>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/splash.css" />
</head>
<body class="splash">
    <div id="info">
        <img src="../images/mb-logo.png" /><br />
        <p>The msgboy is an application which helps you stay in touch with what you care about on the web. </p>
        <p>It will show you desktop notifications that tell you about these things and you can vote them up or down, which the msgboy uses to learn which things you care about the most.</p>
        <p>You can also go to your <a href="dashboard.html">msgboy dashboard</a> to see all the stories that the msgboy gathered for you.</p>
        <img id="buildings" src="../images/buildings.png" />
        <img id="clouds" src="../images/clouds.png" />
        <img id="signal" src="../images/mb-signal.png" />
    </div>
</body>
</html>
