<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Signing up</title>
    <meta name="application-name" content="Msgboy"/>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/splash.css" />
</head>
<body class="splash">
    <div id="info">
        <p>The msgboy is an application which helps you stay in touch with what you care about on the web. </p>
        <p>It will show you pop-up notifications that tell you about these things you care about. They may or may not be accurate, but if you vote them up or down, the msgboy can learn to show only the right things.</p>
        <p>You can also go to your msgboy dashboard to see all the past stories that the msgboy selected for you.</p>
    </div>
</body>
</html>
