<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>
            Stream
        </title>
        <meta name="application-name" content="Msgboy" />
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../css/readability.css" />
        <link rel="stylesheet" href="../css/readability-print.css" />
        <link rel="stylesheet" href="../css/modalbox.css" />
        
        <!-- Lib includes -->
        <script src="../../lib/jquery/jquery.js" type="text/javascript"></script>
        <script src="../../lib/date.extensions.js" type="text/javascript"></script>
        <script src="../../lib/underscore/underscore-min.js" type="text/javascript"></script>
        <script src="../../lib/backbone/backbone-min.js" type="text/javascript"></script>
        <script src="../../lib/backbone-indexeddb/backbone-indexeddb.js" type="text/javascript"></script>
        <script src="../../lib/readability/readability.js" type="text/javascript"></script>
        <!-- Model includes -->
        <script src="../../models/database.js" type="text/javascript"></script>
        <script src="../../models/message.js" type="text/javascript"></script>
        <script src="../../models/archive.js" type="text/javascript"></script>
        <script src="../../models/inbox.js" type="text/javascript"></script>
        <!-- Controller includes -->
        <script src="../../controllers/modalbox.js" type="text/javascript"></script>
        <script src="../../controllers/utils.js" type="text/javascript"></script>
    </head>
    
    <body>
        <div id="mb-signal"></div>
        <div id="nav">
            <div id="nav-inner">
            </div>
        </div>

    </body>

</html>